.sectioncontainer {
  width: 100%;
}

.sectioncontent {
  max-width: $gridWidth;
  margin: 0 auto;

  @include responsiveMaxWidth($gridWidth + $gridGutterWidth) {
    padding: 0 $gridGutterWidth;
  }

  @include responsiveMaxWidth($bpTablet) {
    padding: 0 ($gridGutterWidth - 8px);
  }

  @include responsiveMaxWidth($bpMobile) {
    padding: 0 ($gridGutterWidth / 2);
  }
}
