{{ define "main" }}

  <div class="container container--wide container--is-gray container--has-no-padding-y">
    <div class="container container--1211 container--has-padding-y-small">
      {{ partial "breadcrumb.html" . }}
    </div>
  </div>

  <div class="container container--has-no-padding-y">
    <div class="container container--87 container--has-padding-bottom-medium">
      {{ partial "memo.html" (dict "memo" . ) }}
    </div>
  </div>

  {{ with .Params.related_collections }}
    {{ partial "related-collections.html" (dict "relatedCollectionsIDs" . "linksTo" (slice "version") "size" "87" "class" "container--has-no-padding-top" )}}
  {{ end }}

{{ end }}
