.main {
  min-height: 100vh;
  width: 100vw;
  transition: 0.3s ease-in-out;
}

@media only screen and (min-width: 780px) {
  .main {
    width: calc(
      100vw - (100vw - 100%) - 200px
    ); /* calc(100vw - (100vw - 100%)) is a trick to have the size of the viewport without the scrollbar */
    margin-left: 200px;
  }
}

.header {
  position: relative;
  overflow: hidden;
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;

  @supports (position: sticky) {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
@media only screen and (min-width: 780px) {
  .header {
    justify-content: flex-end !important;
    width: calc(
      100vw - (100vw - 100%) - 200px
    ); /* calc(100vw - (100vw - 100%)) is a trick to have the size of the viewport without the scrollbar*/
    margin-left: 200px;
  }
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3s ease-in-out;
  will-change: opacity;
  z-index: -1;
}

.overlay--visible {
  z-index: 3;
  opacity: 1;
}

@media only screen and (min-width: 780px) {
  .overlay--visible {
    z-index: -1;
    opacity: 0;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  overflow: auto;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  /* Be on top of all others elements in fixed position */
  z-index: 1000;
  will-change: transform;
}

@media only screen and (min-width: 780px) {
  .menu {
    transform: translateX(0);
  }
}

.menu--visible {
  transform: translateX(0%);
}

.burger {
  cursor: pointer;
  padding-left: 5px;
  width: 26px;
  height: 26px;
  &:hover {
    opacity: 0.8;
  }
}

@media only screen and (min-width: 780px) {
  .burger {
    display: none !important;
  }
}
