.article {
  flex-shrink: 1;
}

.article_header {
}

.article_subtitle {
}

.article_title {
}

.article_content {
  margin-top: var(--mL);

  p:not(:last-child) {
    margin-bottom: var(--mM);
  }
}
