@import '../styles/mixins';

.aside {
  flex-shrink: 0;
  margin-left: var(--mM);
  @mixin grid 3, 3;

  @media (--tabletSmall) {
    margin-left: 0;
    margin-top: var(--mM);
    max-width: 100%;
  }
}
