@import '../styles/mixins';

.buttonBlocList {
}

.buttonBlocList_header {
  text-align: center;
  @mixin grid 6, 5;
  margin: 0 auto;
}

.buttonBlocList_subtitle {
}

.buttonBlocList_title {
}

.buttonBlocList_items {
  @mixin grid 10, 9;
  margin: 0 auto;
  margin-top: var(--m2XL);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
