@import '../styles/mixins';

.buttonBlockList {
}

.buttonBlockList_header {
  text-align: center;
  @mixin grid 6, 5;
  margin: 0 auto;
}

.buttonBlockList_subtitle {
}

.buttonBlockList_title {
}

.buttonBlockList_items {
  @mixin grid 10, 9;
  margin: 0 auto;
  margin-top: var(--m2XL);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  > div {
    margin: 0 calc(var(--gridGutterWidth) / 2) var(--gridGutterWidth);
  }
}
