.card {
  border: 1px solid var(--colorBlack200);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  @mixin grid 4, 3;
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;

  &.card__center {
    text-align: center;

    & > .card_author {
      text-align: left;
    }
  }

  &.card__isBig {
    @mixin grid 6, 5;

    & .card_body {
      padding: var(--pXL) var(--pL) var(--p3XL) var(--pL);
    }

    & .card_subtitle {
      margin-top: var(--mS);
    }

    & .card_children {
      margin-top: var(--mL);
    }
  }

  &.card__isSmall {
    & > .card_header {
      height: 140px;
    }
  }

  &.card__isWhite {
    background-color: var(--colorWhite);
  }
}

.card__isLink {
  cursor: pointer;

  &:hover {
    border: 1px solid var(--colorSecondary);
  }
}

.card_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card_header {
  position: relative;
  height: 180px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}

.card_body {
  padding: var(--pL) var(--pM) var(--pM) var(--pM);
}

.card_title {
}

.card_subtitle {
  margin-top: var(--mXS);
}

.card_children {
  margin-top: var(--mM);

  & p:not(:last-child) {
    margin-bottom: var(--mM);
  }

  & button:not(:last-child) {
    margin-bottom: var(--mXL);
  }
}

.card_author {
  border-top: 1px solid var(--colorBlack200);
  padding: var(--pM);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: auto;

  & img {
    max-height: 58px;
    margin: 0 var(--pXS);
  }

  &.card_author__isCenter {
    justify-content: center;
  }
}

.card_author_icon {
  margin-right: var(--mXS);
}
.card_author_desc {
}
