.logo {
  & svg {
    width: 276px;
    height: 37px;
  }
}

.logo__small {
}
.logo__medium {
}
.logo__large {
}
.logo__full {
  width: 100%;
  & svg {
    height: auto;
    width: 100%;
  }
}

@media (--mobileLarge) {
  .logo {
    margin-top: 8px;
    & svg {
      width: 200px;
      height: 27px;
    }
  }
}
