.textContent {
  margin-top: var(--mL);

  & hr {
    clear: both;
    border: 1px solid var(--colorBlack200);
    margin-bottom: var(--mXL);
  }

  & p:not(:last-child) {
    margin-bottom: var(--mM);
  }

  & h1 {
    margin-bottom: var(--m3XL);

    @media (--tabletSmall) {
      margin-bottom: var(--mXL);
    }
  }

  & h2:not('mb__0') {
    margin-bottom: var(--mXL);

    @media (--tabletSmall) {
      margin-bottom: var(--mL);
    }
  }

  & h3 {
    margin-bottom: var(--mL);

    @media (--tabletSmall) {
      margin-bottom: var(--mM);
    }
  }

  & h4 {
    margin-bottom: var(--mM);

    @media (--tabletSmall) {
      margin-bottom: var(--mS);
    }
  }

  & h5 {
    margin-bottom: var(--mS);

    @media (--tabletSmall) {
      margin-bottom: var(--mXS);
    }
  }

  & h6 {
    margin-bottom: var(--mXS);

    @media (--tabletSmall) {
      margin-bottom: var(--m2XS);
    }
  }

  & p + h2,
  & ul + h2 {
    margin-top: var(--m3XL);

    @media (--tabletSmall) {
      margin-top: var(--m2XL);
    }
  }

  & p + h3,
  & ul + h3 {
    margin-top: var(--m2XL);

    @media (--tabletSmall) {
      margin-top: var(--mXL);
    }
  }

  & p + h4,
  & ul + h4 {
    margin-top: var(--mXL);

    @media (--tabletSmall) {
      margin-bottom: var(--mL);
    }
  }

  & iframe {
    margin-bottom: var(--mXL);

    @media (--tabletSmall) {
      margin-bottom: var(--mL);
    }
  }

  & ul {
    margin-left: var(--mL);
    list-style-type: disc;

    &:not(:last-child) {
      margin-bottom: var(--mL);
    }
  }

  & li {
    position: relative;
    & svg {
      left: calc(var(--mL) * -1);
      top: var(--m2XS);
      position: absolute;
    }
    &:not(:last-child) {
      margin-bottom: var(--mM);
    }
  }

  & .textContent__noListStyle {
    list-style-type: none;
  }

  & blockquote {
    margin-bottom: var(--mM);
  }

  & code {
    background-color: var(--colorBlack200);
    padding: 0 0.4rem;
  }

  & button {
    margin-bottom: var(--mXL);

    @media (--tabletSmall) {
      margin-bottom: var(--mL);
    }
  }
}

.textContent__marginTopLarge {
  margin-top: var(--m2XL);
}
