.thumbGalery {
  margin: 0 auto;

  &.thumbGalery__isSmall {
    &.thumbGalery_items {
      margin-top: var(--mL);
    }
  }
}

.thumbGalery_header {
  @mixin grid 8, 7;
  text-align: center;
  margin: 0 auto;
}

.thumbGalery_title {
}

.thumbGalery_subtitle {
  margin-top: var(--mXS);
}

.thumbGalery_items {
  @mixin grid 10, 9;
  margin-top: var(--m2XL);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
