@import '../mixins.css';

input,
select,
textarea {
  font-size: 1.6rem;
  border-radius: 4px;
  background-color: var(--colorWhite);
  padding: var(--pS) var(--pM);
  border: 1px solid var(--colorBlack400);
  width: 100%;
  color: var(--colorBlack800);

  &::placeholder {
    color: var(--colorBlack400);
  }

  /* TODO size modifier */
}

label {
  color: var(--color1-600);
  font-weight: bold;
  display: block;
  width: 100%;
  margin-bottom: var(--mXS);
}

.formfield {
  width: 100%;

  & + .formfield {
    margin-top: var(--mL);
  }

  &__alignRight {
    text-align: right;
  }
}

.select {
  position: relative;

  select {
    position: relative;
    appearance: none;
  }

  > svg {
    top: var(--mS);
    right: var(--mS);
    position: absolute;
    pointer-events: none;
  }
}
