.text__light {
  font-size: 1.4rem;
  letter-spacing: -0.2px;
  color: var(--colorBlack600);
}

.text__smallcaps {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--colorBlack400);
}

.text__subtitle {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: -0.2px;

  @media (--gridPlus) {
    font-size: 2rem;
  }
}
