.text__light {
  font-size: 1.4rem;
  letter-spacing: -0.2px;
  color: var(--colorBlack600);
}

.text__smallcaps {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--colorBlack400);
}
