/**
* Custom properties
**/
:root {
  /* Fonts */
  --defaultFontSize: 1.6rem;
  --defaultFontFamily: 'Inter';

  /* Grid */
  --gridColsNumber: 12;
  --gridColWidth: 76px;
  --gridGuttersNumber: 11;
  --gridGutterWidth: 24px;

  /* Colors */
  --colorPrimary: #0496ff;
  --colorSecondary: #0b08a0;
  --colorError: #ec368d;
  --colorSuccess: #11ebc3;
  --colorBlack900: #010613;
  --colorBlack800: #333333;
  --colorBlack600: #5e5e5e;
  --colorBlack400: #999999;
  --colorBlack200: #f5f5f5;
  --colorWhite: #fefffd;

  /* Padding & margin */
  --p2XS: 4px;
  --pXS: 8px;
  --pS: 12px;
  --pM: 24px;
  --pL: 36px;
  --pXL: 48px;
  --p2XL: 64px;

  --m2XS: 4px;
  --mXS: 8px;
  --mS: 12px;
  --mM: 24px;
  --mL: 36px;
  --mXL: 48px;
  --m2XL: 64px;
}

/* custom media queries  */
@custom-media --mobileSmall (max-width: 320px);
@custom-media --mobileLarge (max-width: 480px);
@custom-media --mobileExtraLarge (max-width: 620px);
@custom-media --tabletSmall (max-width: 768px);
@custom-media --tabletLarge (max-width: 1024px);
@custom-media --gridPlus (max-width: 1196px); /* 1176px grid + 24px padding */
