{{ define "main" }}
  {{ .Content }}
  <div>
    {{ partial "hero.html" (dict "title" (.Params.hero.title | safeHTML) "subtitle" .Params.hero.subtitle "link" .Params.hero.link "class" "hero__hasNoMarginBottom") }}
    {{ partial "distinctions.html" . }}
    {{ partial "collections.html" . }}
    {{ partial "follow-us.html" . }}
    {{ partial "how-it-works.html" . }}
    {{ partial "reuses.html" . }}
    {{ partial "product-newsletter.html" . }}
    {{ partial "foss.html" . }}
  </div>
{{ end }}
