{{ $type := default "contributors" .type }}
{{ $remoteLogoUrl := .logoUrl }}
{{ $remoteType := "" }}
{{ $resource := "" }}
{{ $localImagePath := printf "/images/%s/%s.png" $type (.name | urlize)}}
{{ $errorMessage := ""}}

{{ $size := default "" .size }}
{{ if eq $size "2x" }}
  {{ $remoteLogoUrl = replace $remoteLogoUrl ".png" "@2x.png" }}
  {{ $localImagePath = replace $localImagePath ".png" "@2x.png" }}
{{ end }}

{{ with $remoteLogoUrl }}
  {{ if in $remoteLogoUrl  "avatars.githubusercontent.com" }}
    {{ $remoteType = "github" }}
  {{ end }}
  {{ with try (resources.GetRemote $remoteLogoUrl) }}
    {{ with .Err }}
      {{ $errorMessage = .Err }}
    {{ else with .Value }}
      {{ $resource = . }}
    {{ else }}
      {{ $errorMessage = printf "Failed to fetch %s" $remoteLogoUrl }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if not $resource }}
  {{ with try (resources.Get $localImagePath) }}
    {{ with .Err }}
      {{ $errorMessage = .Err }}
    {{ else with .Value }}
      {{ $resource = . }}
    {{ else }}
      {{ $errorMessage = printf "%s\nFailed to fetch %s" $errorMessage $localImagePath }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return (dict "resource" $resource "error" $errorMessage "remoteType" $remoteType) }}
