{{/*
  Check if an author name is a current team member (excluding alumni)
  Usage: {{ $isTeamMember := partial "func/isTeamMember.html" "Author Name" }}
*/}}
{{ $authorName := . }}
{{ $authorNameLower := $authorName | lower }}
{{ $isTeamMember := false }}
{{ range $group, $members := site.Data.staff }}
  {{ if ne $group "alumni" }}
    {{ range $members }}
      {{ if eq (. | lower) $authorNameLower }}
        {{ $isTeamMember = true }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return $isTeamMember }}

