code {
  display: inline-block;
  padding: 0.4rem;
  background-color: var(--colorBlack200);
  border-radius: 4px;

  &.language-success {
    border: 2px solid var(--colorSuccess);
  }

  &.language-error {
    border: 2px solid var(--colorError);
  }
}
