a {
  color: var(--colorPrimary);
  text-decoration: none;
  transition: all 0.3s easeOutExpo;

  &:hover {
    color: var(--colorSecondary);
    transition: all 0.25s easeOutCirc;
  }
}

.a--small {
  font-size: 1.4rem;
}

.a--darked {
  &:hover {
    color: var(--colorDarkedSecondary);
  }
}

.a--icontext {
  display: flex;
  align-items: center;
}

@media (--mobileExtraLarge) {
  .a--icontext {
    justify-content: center;
  }
}
