table {
  width: 100%;
  border-collapse: collapse;

  & thead {
    & tr {
      & th {
        padding: var(--pxs) var(--pm);
        text-align: left;
        background-color: var(--colorBlack200);
        border: 1px solid var(--colorBlack300);
      }
    }
  }

  & tbody {
    & tr {
      & td {
        padding: var(--pxs) var(--pm);
        border: 1px solid var(--colorBlack200);
      }
    }

    & tr:nth-child(2n) {
      background-color: rgb(246, 248, 250);
    }
  }
}
