.drawer {
  display: flex;
  position: sticky;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid var(--colorBlack200);
  background-color: var(--colorWhite);

  & > nav,
  & > div {
    padding: 20px;
  }

  & > div > p:not(:last-child) {
    margin-bottom: var(--mM);
  }

  & > div > h2 {
    margin-bottom: var(--mL);
  }

  & a,
  & button {
    cursor: pointer;
  }

  & nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & h3 {
    margin-top: var(--mXL);
    margin-bottom: var(--mS);

    &:first-child {
      margin-top: 0;
    }
  }

  & label {
    margin-top: var(--mM);
  }

  & textarea {
    margin-top: var(--mL);
  }

  & > div {
    overflow-y: auto;
  }
}

.wrapper {
  display: flex;
  align-items: flex-start;

  & > div {
    flex: 1;
  }
}

.selectionItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--mXS);

  & > button {
    margin-left: var(--mS);
  }
}

.fullPage {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  & h1 {
    max-width: 50%;
    margin: 0 auto 40px;
    text-align: center;
  }
  & > * {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.json {
  width: 800px;
  max-width: 100%;
  height: 300px;
  margin-top: 20px;
  overflow: auto;
  padding: 10px;
  border: 1px solid var(--colorBlack400);
  background-color: var(--colorBlack200);
}

.expertButtons {
  margin-top: var(--mS);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
