/**
* Custom properties
**/
:root {
  /* Fonts */
  --defaultFontSize: 1.6rem;
  --defaultFontFamily: "Inter";

  /* Grid */
  --gridColsNumber: 12;
  --gridColWidth: 76px;
  --gridGuttersNumber: 11;
  --gridGutterWidth: 24px;

  /* Colors */
  --colorPrimary: #2d63ff;
  --colorPrimary800: #5b85ff;
  --colorPrimary700: #7696ff;
  --colorPrimary600: #91a7ff;
  --colorPrimary500: #abc8ff;
  --colorPrimary400: #b6cdff;
  --colorPrimary300: #c5d9ff;
  --colorPrimary200: #e2edff;
  --colorPrimary100: #f5f9ff;
  --colorSecondary: #0b08a0;
  --colorTertiary: #f9dd3f;
  --colorError: #ec368d;
  --colorSuccess: #11ebc3;
  --colorBlack900: #010613;
  --colorBlack800: #333;
  --colorBlack700: #454545;
  --colorBlack600: #5e5e5e;
  --colorBlack400: #999;
  --colorBlack300: #d6d6d6;
  --colorBlack200: #f5f5f5;
  --colorWhite: #fefffd;

  /* Sizes */
  --3xs: 2px;
  --2xs: 4px;
  --xs: 8px;
  --s: 12px;
  --m: 16px;
  --l: 24px;
  --xl: 36px;
  --2xl: 48px;
  --3xl: 64px;
  --4xl: 96px;

  /* Padding & margin */
  --p3xs: var(--3xs);
  --p2xs: var(--2xs);
  --pxs: var(--xs);
  --ps: var(--s);
  --pm: var(--m);
  --pl: var(--l);
  --pxl: var(--xl);
  --p2xl: var(--2xl);
  --p3xl: var(--3xl);
  --p4xl: var(--4xl);
  --m3xs: var(--3xs);
  --m2xs: var(--2xs);
  --mxs: var(--xs);
  --ms: var(--s);
  --mM: var(--m);
  --ml: var(--l);
  --mxl: var(--xl);
  --m2xl: var(--2xl);
  --m3xl: var(--3xl);
  --m4xl: var(--4xl);

  /* Breakpoints */
  --bpMobileSmall: 320px;
  --bpMobileLarge: 480px;
  --bpMobileExtraLarge: 620px;
  --bpTabletSmall: 768px;
  --bpTabletLarge: 1024px;
  --bpGridPlus: 1196px;
  --bpDesktopWide: 1440px;
}
