/**
* Custom properties
**/
:root {
  /* Fonts */
  --defaultFontSize: 1.6rem;
  --defaultFontFamily: "Inter";

  /* Grid */
  --gridColsNumber: 12;
  --gridColWidth: 76px;
  --gridGuttersNumber: 11;
  --gridGutterWidth: 24px;

  /* Colors */
  --colorPrimary: #2d63ff;
  --colorPrimary800: #5b85ff;
  --colorPrimary700: #7696ff;
  --colorPrimary600: #91a7ff;
  --colorPrimary500: #abc8ff;
  --colorPrimary400: #b6cdff;
  --colorPrimary300: #c5d9ff;
  --colorPrimary200: #e2edff;
  --colorPrimary100: #f5f9ff;
  --colorSecondary: #0b08a0;
  --colorTertiary: #f9dd3f;
  --colorError: #ec368d;
  --colorSuccess: #11ebc3;
  --colorBlack900: #010613;
  --colorBlack800: #333;
  --colorBlack700: #454545;
  --colorBlack600: #5e5e5e;
  --colorBlack400: #999;
  --colorBlack300: #d6d6d6;
  --colorBlack200: #f5f5f5;
  --colorWhite: #fefffd;

  /* Sizes */
  --3XS: 2px;
  --2XS: 4px;
  --XS: 8px;
  --S: 12px;
  --M: 16px;
  --L: 24px;
  --XL: 36px;
  --2XL: 48px;
  --3XL: 64px;
  --4XL: 96px;

  /* Padding & margin */
  --p3XS: var(--3XS);
  --p2XS: var(--2XS);
  --pXS: var(--XS);
  --pS: var(--S);
  --pM: var(--M);
  --pL: var(--L);
  --pXL: var(--XL);
  --p2XL: var(--2XL);
  --p3XL: var(--3XL);
  --p4XL: var(--4XL);
  --m3XS: var(--3XS);
  --m2XS: var(--2XS);
  --mXS: var(--XS);
  --mS: var(--S);
  --mM: var(--M);
  --mL: var(--L);
  --mXL: var(--XL);
  --m2XL: var(--2XL);
  --m3XL: var(--3XL);
  --m4XL: var(--4XL);

  /* Breakpoints */
  --bpMobileSmall: 320px;
  --bpMobileLarge: 480px;
  --bpMobileExtraLarge: 620px;
  --bpTabletSmall: 768px;
  --bpTabletLarge: 1024px;
  --bpGridPlus: 1196px;
  --bpDesktopWide: 1440px;
}
