/* Reset */
@import "/vendor/minireset.css";

/* Mixins */
@import "mixins.css";

/* Custom media queries and custom properties */
@import "custom-properties.css";
@import "custom-media-queries.css";

/* Base */
@import "base.css";

/* Sprite */
@import "sprite.css";

/* Import elements styles */
@import "/elements/blockquote.css";
@import "/elements/fonts.css";
@import "/elements/form.css";
@import "/elements/icons.css";
@import "/elements/links.css";
@import "/elements/table.css";
@import "/elements/titles.css";
@import "/elements/utility.css";
@import "/elements/syntax.css";
@import "/elements/embed.css";

/* Components */
@import "/components/article.css";
@import "/components/aside.css";
@import "/components/assets.css";
@import "/components/breadcrumb.css";
@import "/components/button.css";
@import "/components/buttonblock.css";
@import "/components/buttonblocklist.css";
@import "/components/card.css";
@import "/components/cardlist.css";
@import "/components/cardtable.css";
@import "/components/cardtable__item.css";
@import "/components/column.css";
@import "/components/collection__header.css";
@import "/components/collection__metadata.css";
@import "/components/collection__contribute.css";
@import "/components/collection__memos.css";
@import "/components/collection__governance.css";
@import "/components/collection__reuses.css";
@import "/components/container.css";
@import "/components/contributors.css";
@import "/components/distinctions.css";
@import "/components/divider.css";
@import "/components/featureitem.css";
@import "/components/footer.css";
@import "/components/header.css";
@import "/components/header__menu.css";
@import "/components/hero.css";
@import "/components/linkicon.css";
@import "/components/logo.css";
@import "/components/memo.css";
@import "/components/publication.css";
@import "/components/pagination.css";
@import "/components/textcontent.css";
@import "/components/thumbgallery.css";
@import "/components/thumbgallery__item.css";
@import "/components/howitworks.css";
@import "/components/language-switcher.css";
@import "/components/badge.css";
@import "/components/press-review.css";
@import "/components/presentation.css";
