.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

@for $i from 1 through 12 {
  .flex-#{$i} {
    flex: #{$i} !important;
  }
}

.rf-text-color--bf500 {
  color: var(--bf500);
}
.rf-text-color--w-bf500 {
  color: var(--w-bf500);
}
.rf-text-color--bf300-plain {
  color: var(--bf300-plain);
}
.rf-text-color--bf200-bf300 {
  color: var(--bf200-bf300);
}
.rf-text-color--bf100-g750 {
  color: var(--bf100-g750);
}
.rf-text-color--g800 {
  color: var(--g800);
}
.rf-text-color--g700 {
  color: var(--g700);
}
.rf-text-color--g600 {
  color: var(--g600);
}
.rf-text-color--g500 {
  color: var(--g500);
}
.rf-text-color--g400 {
  color: var(--g400);
}
.rf-text-color--g300 {
  color: var(--g300);
}
.rf-text-color--g200 {
  color: var(--g200);
}
.rf-text-color--g100 {
  color: var(--g100);
}
.rf-text-color--w {
  color: var(--w);
}
.rf-text-color--beige {
  color: var(--beige);
}
.rf-text-color--g800-plain {
  color: var(--g800-plain);
}
.rf-text-color--g600-g400 {
  color: var(--g600-g400);
}
.rf-text-color--g400-t {
  color: var(--g400-t);
}
.rf-text-color--g100-g800 {
  color: var(--g100-g800);
}
.rf-text-color--w-g750 {
  color: var(--w-g750);
}
.rf-text-color--focus {
  color: var(--focus);
}
.rf-text-color--info {
  color: var(--info);
}
.rf-text-color--success {
  color: var(--success);
}
.rf-text-color--error {
  color: var(--error);
}
.rf-text-color--rm300 {
  color: var(--rm300);
}
.rf-text-color--rm500 {
  color: var(--rm500);
}
.rf-text-color--b300 {
  color: var(--b300);
}
.rf-text-color--b500 {
  color: var(--b500);
}
.rf-text-color--bs300 {
  color: var(--bs300);
}
.rf-text-color--bs500 {
  color: var(--bs500);
}
.rf-text-color--bd300 {
  color: var(--bd300);
}
.rf-text-color--bd500 {
  color: var(--bd500);
}
.rf-text-color--gl300 {
  color: var(--gl300);
}
.rf-text-color--gl500 {
  color: var(--gl500);
}
.rf-text-color--gm300 {
  color: var(--gm300);
}
.rf-text-color--gm500 {
  color: var(--gm500);
}
.rf-text-color--gs300 {
  color: var(--gs300);
}
.rf-text-color--gs500 {
  color: var(--gs500);
}
.rf-text-color--gw300 {
  color: var(--gw300);
}
.rf-text-color--gw500 {
  color: var(--gw500);
}
.rf-text-color--od300 {
  color: var(--od300);
}
.rf-text-color--od500 {
  color: var(--od500);
}
.rf-text-color--om300 {
  color: var(--om300);
}
.rf-text-color--om500 {
  color: var(--om500);
}
.rf-text-color--os300 {
  color: var(--os300);
}
.rf-text-color--os500 {
  color: var(--os500);
}
.rf-text-color--p300 {
  color: var(--p300);
}
.rf-text-color--p500 {
  color: var(--p500);
}
.rf-text-color--pd300 {
  color: var(--pd300);
}
.rf-text-color--pd500 {
  color: var(--pd500);
}
.rf-text-color--pl300 {
  color: var(--pl300);
}
.rf-text-color--pl500 {
  color: var(--pl500);
}
.rf-text-color--ps300 {
  color: var(--ps300);
}
.rf-text-color--ps500 {
  color: var(--ps500);
}
.rf-text-color--yd300 {
  color: var(--yd300);
}
.rf-text-color--yd500 {
  color: var(--yd500);
}
.rf-text-color--ym300 {
  color: var(--ym300);
}
.rf-text-color--ym500 {
  color: var(--ym500);
}
