.wrapper {
  background: white;
  width: 400px;
  position: fixed;
  transition: all 300ms;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  border-right: 1px solid var(--g500);
  box-shadow: 0 10px 10px var(--g500);
  z-index: 1;
}

.expanded {
  transform: translateX(0%);
}

.expander {
  position: absolute;
  right: -20px;
  top: 10px;
  border: 1px solid var(--g500);
  border-left: white;
  background: white;
  font-size: 20px;
  font-weight: bold;
  width: 20px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
