.aside {
  flex-shrink: 0;
  margin-top: var(--m4xl);
  margin-left: var(--mM);

  @mixin grid 3, 3;
}

@media (--tabletSmall) {
  .aside {
    max-width: 100%;
    margin-top: var(--mxl);
    margin-left: 0;
  }
}
