.badge {
  display: inline-flex;
  padding: var(--p2xs) var(--ps);
  font-size: 0.75em;
  color: var(--colorBlack900);
  background-color: var(--colorPrimary300);
  border-radius: 2em;

  &.badge--has-icon {
    gap: var(--m2xs);
    align-items: center;
    justify-content: center;
  }
}
