.badge{
  padding: var(--p2XS) var(--pS);
  border-radius: 2em;
  font-size: 0.75em;
  display: inline-flex;
}

.badge--host,
.badge--sponsor,
.badge--administrator,
.badge--curator,
.badge--maintainer{
  color: var(--colorBlack900);
  background-color: var(--colorPrimary300);
}
