.buttonblocklist__header {
  margin: 0 auto;
  text-align: center;

  @mixin grid 9, 8;
}

.buttonblocklist__items {
  @mixin grid 12, 11;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: var(--m4xl);
}

@media (--tabletSmall) {
  .buttonblocklist__items {
    margin-top: var(--m3xl);
  }
}
