.buttonblocklist_header {
  text-align: center;
  @mixin grid 9, 8;
  margin: 0 auto;
}

.buttonblocklist_items {
  @mixin grid 12, 11;
  margin: 0 auto;
  margin-top: var(--m4XL);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > div {
    margin-top: 0;
    margin-bottom: var(--m2XL);
    margin-left: var(--gridGutterWidth);
    margin-right: var(--gridGutterWidth);
  }
}

@media (--tabletSmall) {
  .buttonblocklist_items {
    margin-top: var(--m3XL);
  }
}
