.buttonblock {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: var(--p2XL) var(--pM) var(--pXL) var(--pM);
  margin: 0 var(--gridGutterWidth) var(--m2XL) var(--gridGutterWidth);
  text-align: center;
  border: 1px solid var(--colorBlack200);
  border-radius: 4px;

  @mixin grid 3, 3;
}

.buttonblock__icon {
  position: absolute;
  top: -22px;
  left: 50%;
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--colorWhite);
  border: 1px solid var(--colorBlack200);
  border-radius: 50%;
  transform: translateX(-50%);

  & svg {
    margin: 0 auto;
  }
}

.buttonblock__title {
  & + .buttonblock__desc {
    margin-top: var(--mXS);
  }
}
