.cardtable__item {
  display: flex;
  align-items:flex-start;
  padding-top: var(--m2XS);
  padding-bottom: var(--m2XS);

  &:not(:first-child) {
    border-top: 1px solid var(--colorBlack200);
  }
}

.cardtable__item-icon {
  display:flex;
  flex-shrink: 0;
  margin-top:var(--m2XS);

  & svg{
    margin: auto;
  }
}

.cardtable__item-title {
  margin-left: var(--m2XS);
}

.cardtable__item-desc {
  padding-left: var(--pS);
  margin-left: auto;
  text-align: right;
}
