.cardtable__item {
  display: flex;
  align-items: flex-start;
  padding-top: var(--m2XS);
  padding-bottom: var(--m2XS);

  &:not(:first-child) {
    border-top: 1px solid var(--colorBlack200);
  }
}

.cardtable__item__icon {
  flex-shrink: 0;
  margin-top: var(--m3XS);
}

.cardtable__item__title {
  margin-left: var(--m2XS);
}

.cardtable__item__desc {
  margin-left: auto;
  padding-left: var(--pS);
  text-align: right;
}
