.cardtable__item {
  display: flex;
  align-items: flex-start;
  padding-top: var(--m2xs);
  padding-bottom: var(--m2xs);

  &:not(:first-child) {
    border-top: 1px solid var(--colorBlack200);
  }
}

.cardtable__item-icon {
  display: flex;
  flex-shrink: 0;
  margin-top: var(--m2xs);

  & svg {
    margin: auto;
  }
}

.cardtable__item-title {
  margin-left: var(--m2xs);
}

.cardtable__item-desc {
  padding-left: var(--ps);
  margin-left: auto;
  text-align: right;
}
