.card {
  @mixin grid 4,3;

  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--colorBlack300);

  @media (--mobileExtraLarge) {
    max-width: 100%;
  }
}

.card__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorBlack200);

  &.card__header--rounded {
    width: 180px;
    height: 180px;
    margin: var(--ml) auto 0 auto;
    border-radius: 50%;
  }
}

.card__body {
  padding: var(--pl) var(--pm) var(--pm) var(--pm);
}

.card__body > .cardtable {
  margin-top: var(--ml);
}

.card__subtitle {
  font-size: 1.8rem;
}

.card__children {
  margin-top: var(--mM);

  & p:not(:last-child) {
    margin-bottom: var(--mM);
  }

  & button:not(:last-child) {
    margin-bottom: var(--mxl);
  }
}

.card__author {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: var(--ps);
  margin-top: auto;
  border-top: 1px solid var(--colorBlack200);

  & img {
    max-width: 96px;
    max-height: 54px;
    margin: 0 var(--pxs);
  }

  &.card__author--is-center {
    justify-content: center;
  }
}

.card__bottom {
  padding: var(--pm) var(--ps);
  margin-top: auto;
  border-top: 1px solid var(--colorBlack200);
}

.card__author-icon {
  margin-right: var(--m2xs);
}

.card--is-big {
  @mixin grid 6, 5;

  & .card__body {
    padding: var(--pxl) var(--pl) var(--p3xl) var(--pl);
  }

  & .card__subtitle {
    margin-top: var(--ms);
  }

  & .card__children {
    margin-top: var(--ml);
  }
}

.card--placeholder {
  position: relative;
  display: flex;
  justify-content: center;
  background: #efefef;

  & .card__title {
    font-size: 2rem;
  }

  &::before {
    display: block;
    width: 100%;
    height: 16rem;
    font-size: 12rem;
    color: #cecece;
    text-align: center;
    content: "+";
  }

  &:hover {
    &::before {
      color: var(--colorSecondary);
    }
  }
}

.card--center {
  & > .card__body {
    & > .card__title,
    & > .card__subtitle {
      text-align: center;
    }
  }

  & > .card__author {
    text-align: left;
  }
}

.card--is-link {
  cursor: pointer;

  &:hover {
    border: 1px solid var(--colorSecondary);
  }
}

.card--is-small {
  & > .card__header {
    height: 140px;
  }
}

.card--is-white {
  background-color: var(--colorWhite);
}
