.collection__metadatas{
  display: flex;
  gap: var(--mXL);
  align-items: start;
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (--tabletSmall) {
    flex-wrap: wrap;
    gap: var(--mL);
  }
}

.collection__metadatas__desc{
  width:50%;
  font-size: 1.8rem;

  & p {
    margin-bottom: var(--mM);

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (--tabletSmall) {
    width: 100%;
  }
}

.collection__metadatas__items{
  width:40%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--mL);

  @media (--tabletSmall) {
    width: 100%;
  }
}

.collection__metadata {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--colorWhite);
  padding: var(--mL) var(--mM);
  border: 1px solid var(--colorBlack300);
}

.collection__metadata__icon {
  display: flex;
  
  & svg {
    margin: auto;
  }
}

.collection__metadata__title {
  margin-top: var(--mXS);
}

.collection__metadata__desc {
  margin-top: var(--mS);
}
