.collection__contribute {
  @media (--tabletSmall) {
    & > h3 {
      text-align: center;
    }
  }
}

.collection__contribute__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: var(--mL);
  margin-top: var(--mXL);

  @media (--tabletSmall) {
    gap: var(--mS);
  }
}

.collection__contribute__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--mL);
  align-items: center;
  padding: var(--pL);
  text-align: center;
  pointer-events: none;
  cursor: pointer;

  &:hover {
    & > h4 {
      color: var(--colorSecondary);
    }

    & > .icon__circle-wrapper {
      background-color: var(--colorSecondary);

      & > .icon {
        color: var(--colorWhite);
      }
    }
  }

  @media (--tabletSmall) {
    gap: var(--mS);
  }
}

.contribute__item__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}
