.collection__governance{
  @media (--tabletLarge) {
    & > h4, & > h3 {
      text-align: center;
    }
  }
}

.governance__maintainers__items{
  margin-top: var(--mL);
  display: flex;
  gap: var(--mL);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (--tabletLarge) {
    gap: var(--mM);
    justify-content: center;
  }
}

.governance__maintainers__item{
  max-width: 220px;

  & > .icon__volunteer-contributors-wrapper{
    font-size: 2em;
  }
}
