.collection__governance {
  @media (--tabletLarge) {
    & > h3,
    & > h4,
    & > h5 {
      text-align: center;
    }
  }
}

.governance__items {
  display: flex;
  flex-flow: row wrap;
  gap: var(--mL);
  justify-content: flex-start;
  margin-top: var(--mXL);

  @media (--tabletLarge) {
    gap: var(--mM);
    justify-content: center;
  }
}

.governance__item {
  display: flex;
  flex-direction: column;
  gap: var(--mS);
  align-items: center;
  width: 240px;
  text-align: center;
}

.governance__item-link {
  display: flex;
  flex-direction: column;
  gap: var(--mS);
  align-items: center;
}

.governance__item-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  overflow: hidden;
  background-color: var(--colorWhite);
  box-shadow: 0 0 0 1px var(--colorBlack300);
  border-radius: 50%;
  transition: box-shadow 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

  & > img {
    max-width: 60%;
    max-height: 60%;
  }
}

.governance__item-link:hover {
  .governance__item-logo {
    box-shadow: 0 0 0 3px var(--colorSecondary);
  }
}

.governance__item-name {
  font-weight: bold;
}

.governance__item-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--2XS);
}
