.collection__governance {
  @media (--tabletLarge) {
    & > h3,
    & > h4,
    & > h5 {
      text-align: center;
    }
  }
}

.governance__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--mL);
  margin-top: var(--mL);

  @media (--tabletLarge) {
    gap: var(--mM);
    justify-content: center;
  }
}

.governance__item {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: var(--mXS);
  width: 240px;

  & > .icon__volunteer-contributors-wrapper {
    font-size: 2em;
  }
}

.governance__item-link{
  text-align: center;
}

.governance__item-logo {
  height: 240px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--pS);
}

.governance__item-placeholder{
  width: 240px;
  height: 240px;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: var(--pS);
  border:1px solid red;
}

.governance__item-title{
  font-weight: bold;
}
