.collection__reuses-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--ml);
  margin-top: var(--mxl);

  @media (--tabletLarge) {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--ms);
  }

  @media (--mobileExtraLarge) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.collection__reuses-cta {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--m2xl);

  @media (--tabletLarge) {
    justify-content: center;
  }
}
