.contributors {
  margin-top: var(--mXL);
}

.contributors__subtitle {
  margin-bottom: var(--mL);
  text-align: center;
}

.contributors__items {
  display: flex;
  flex-flow: row wrap;
  gap: var(--mM);
  align-items: flex-start;
  justify-content: center;

  @media (--tabletLarge) {
    gap: var(--mS);
  }
}

.contributor__link {
  display: flex;
  flex-direction: column;
  gap: var(--mXS);
  align-items: center;

  &:hover > img {
    box-shadow: 0 0 0 3px var(--colorSecondary);
  }
}

.contributor__info {
  width: 12rem;
  line-height: 1.4;
  text-align: center;
}

.contributor__image {
  background-color: var(--colorWhite);
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--colorBlack300);
  transition: box-shadow 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.contributors--align-x-left {
  & > .contributors__items {
    justify-content: flex-start;
  }

  & > .contributors__subtitle {
    text-align: left;
  }

  @media (--tabletLarge) {
    & > .contributors__items {
      justify-content: center;
    }
  }
}

.contributors--has-no-margin-top {
  margin-top: 0;
}
