.container {
  margin: 0 auto;
  padding-top: var(--p4XL);
  padding-bottom: var(--p4XL);

  &.container--1211 {
    @mixin grid 12, 11;
  }

  &.container--1110 {
    @mixin grid 11, 10;
  }

  &.container--1011 {
    @mixin grid 10, 11;
  }

  &.container--109 {
    @mixin grid 10, 9;
  }

  &.container--98 {
    @mixin grid 9, 8;
  }

  &.container--87 {
    @mixin grid 8, 7;
  }

  &.container--76 {
    @mixin grid 7, 6;
  }

  &.container--65 {
    @mixin grid 6, 5;
  }

  &.container--54 {
    @mixin grid 5, 4;
  }

  &.container--43 {
    @mixin grid 4, 3;
  }

  &.container--32 {
    @mixin grid 3, 2;
  }

  &.container--21 {
    @mixin grid 2, 1;
  }

  &.container--flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--mM);

    @media (--tabletSmall) {
      flex-direction: column;
    }
  }

  &.container--fluid {
    padding-left: var(--pL);
    padding-right: var(--pL);
    max-width: 100%;
  }

  &.container--wide {
    max-width: var(--desktopWide);
    margin: 0 auto;
  }

  &.container--has-bg-image {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.container--is-dark {
    background-color: var(--colorBlack900);
    color: var(--colorWhite);

    & h1,
    & h2,
    & h3,
    & .text__subtitle {
      color: var(--colorWhite);
    }
  }

  &.container--is-gray {
    background-color: var(--colorBlack200);

    & blockquote {
      &:before {
        color: var(--colorWhite);
      }
    }
  }

  &.container--has-no-padding-x {
    padding-left: 0;
    padding-right: 0;
  }

  &.container--has-no-padding-left {
    padding-left: 0;
  }

  &.container--has-no-padding-right {
    padding-right: 0;
  }

  &.container--has-no-padding-y {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.container--has-no-padding-top {
    padding-top: 0;
  }

  &.container--has-no-padding-bottom {
    padding-bottom: 0;
  }

  &.container--has-padding-y-small {
    padding-top: var(--pL);
    padding-bottom: var(--pL);
  }

  &.container--align-x-left {
    margin-left: 0;
  }
}

@media (--gridPlus) {
  .container {
    padding-left: var(--pL);
    padding-right: var(--pL);
  }
}

@media (--tabletSmall) {
  .container {
    padding-top: var(--p3XL);
    padding-bottom: var(--p2XL);

    &.container--has-padding-y-small {
      padding-top: var(--pXL);
      padding-bottom: var(--pM);
    }
  }
}
