.featureitem {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: var(--mXL);
  }
}

.featureitem__icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 4px;
  margin: 0 calc((76px - 40px) / 2);
  background-color: var(--colorWhite);
  border: 1px solid var(--colorBlack200);
  border-radius: 10px;
}

@media (--tabletSmall) {
  .featureitem__icon {
    margin-left: 0;
  }
}

.featureitem__desc {
  margin-top: var(--m2XS);
}
