.footer {
  display: flex;
  flex-direction: column;
  gap: var(--mM);
  align-items: center;
  margin: 0 auto;
  text-align: center;

  & ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    & li {
      & a {
        display: inline-flex;
        color: var(--colorBlack600);
      }
    }
  }

  @media (--mobileExtraLarge) {
    & ul {
      & li {
        width: 100%;
      }
    }
  }
}

.footer__main-menu {
  gap: var(--m2XS) var(--mS);
}

.footer__sub-menu {
  gap: var(--m2XS) var(--mS);
}

.footer__logo {
  margin-top: var(--mL);
  margin-bottom: var(--mM);

  @media (--mobileExtraLarge) {
    margin-top: var(--mS);
    margin-bottom: var(--mS);
  }
}

.footer__socials {
  gap: var(--mXS);
  margin-top: var(--mM);
  margin-bottom: var(--mM);

  @media (--mobileExtraLarge) {
    margin-top: var(--mS);
    margin-bottom: var(--mS);
  }
}
