.footer {
  width: 100%;
  padding: 0 0 var(--pL) 0;
}

.version {
  font-size: 0.8em;
  font-style: italic;
  color: var(--colorBlack400);
  text-align: right;
}

@media (--tabletLarge) {
  .footer {
    text-align: center;
  }
}

.footer__menus {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: var(--mM);
  gap: var(--mXL);

  & div {
    max-width: 45%;
    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--mS);

      & li {
        & a {
          color: var(--colorBlack600);
        }
      }

      & + ul {
        margin-top: var(--mS);
      }
    }
  }
}

@media (--gridPlus) {
  .footer {
    padding-right: var(--pL);
    padding-left: var(--pL);
  }
}

@media (--tabletLarge) {
  .footer {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__menus {
    align-items: flex-start;
    justify-content: center;

    & div {
      max-width: 100%;
      & ul {
        flex-direction: column;

        & li {
          text-align: left;
        }

        & + ul {
          margin-top: var(--mM);
        }
      }
    }
  }
}

@media (--mobileExtraLarge) {
  .footer__menus {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--mXL);

    & div {
      width: 100%;

      & ul {
        & li {
          text-align: center;
        }
      }
    }
  }
}
