.header__menu {
  display: flex;
  align-items: center;

  & ul {
    display: flex;
  }
}

.header__menu-primary {
  & ul {
    & li {
      margin: 0 var(--mS);
    }
  }
}

.header__menu-secondary {
  & ul {
    gap: var(--m2XS);
  }
}

@media (--tabletLarge) {
  .header__menu {
    & ul {
      width: 100%;

      & li {
        width: 100%;
        margin: var(--mS) auto;

        & a {
          display: inline-flex;
          color: var(--colorWhite);
        }
      }
    }
  }

  .header__menu-primary {
    & ul {
      & li {
        margin: var(--mS) auto;
      }
    }
  }

  .header__menu-secondary {
    & ul {
      & li:not(:last-child) {
        margin: var(--mS) auto;
      }
    }
  }
}
