.hero {
  margin: var(--m4xl) 0;

  &.hero--has-no-margin-bottom {
    margin-bottom: 0;
  }

  & a {
    display: inline-block;
    font-size: 2.75rem;
  }

  &.hero--center {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    & > .hero__title,
    & > .hero__subtitle {
      @mixin grid 10, 9;
    }
  }
}

.hero__title {
  @mixin grid 10, 10;

  & span {
    font-weight: 200;
  }
}

.hero__subtitle {
  @mixin grid 12, 11;

  font-size: 2.75rem;
}

.hero__title + .hero__subtitle {
  margin-top: var(--m2xl);
}
