.linkicon {
  display: inline-flex;
  align-items: flex-start;

  & svg {
    margin-top: var(--m2XS);
    transition: stroke 0.3s easeOutCirc;
  }

  &:hover {
    & .linkicon__content {
      transition: transform 0.3s easeOutCirc;
    }

    & svg {
      transition: stroke 0.3s easeOutCirc;
      stroke: var(--colorSecondary);
    }
  }

  &.linkicon--is-small {
    font-size: 1.4rem;
    &:hover {
      & .linkicon__content {
        transform: translateX(2px);
      }
    }
  }

  &.linkicon--is-left {
    & svg {
      transform: rotate(180deg);
    }
  }
}

.linkicon__content {
  transition: all 0.1s easeInCirc;
  margin-left: var(--m2XS);
  text-align: left;
}
