.logo {
  width: 312px;
  height: 40px;

  & svg {
    width: 100%;
    height: 100%;
  }
}

.logo__alternative {
  width: 150px;
  height: 68px;

  & svg {
    width: 100%;
    height: 100%;
  }
}

@media (--mobileExtraLarge) {
  .logo {
    max-width: 234px;
  }

  .logo__alternative {
    max-width: 112px;
  }
}
