.memo {
  padding: var(--mXL);
  border: 1px solid var(--colorBlack300);
  background-color: var(--colorWhite);
}

.memo__title {
  margin-bottom: var(--mS);
}

.memo__subtitle + .memo__author {
  margin-top: var(--mXS);
}

.memo__content {
  padding-top: var(--mL);
  margin-top: var(--mL);
  border-top: 1px solid var(--colorBlack300);
}
