.presentation {
  padding: var(--mxl);
  margin-bottom: var(--ml);
  background-color: var(--colorWhite);
  border: 1px solid var(--colorBlack300);
}

.presentation__title {
  margin-bottom: var(--ms);
}

.presentation__content {
  padding-top: var(--ml);
}

.presentation__metadata-item {
  &:not(:last-child)::after {
    content: " ▪";
  }
}
.presentation__cta {
  margin-top: var(--ml);
  display: flex;
  justify-content: flex-end;
}
