.press-review {
  display: flex;
  flex-direction: column;
  gap: var(--xs);
  padding-bottom: var(--pxl);

  &:not(:last-child) {
    margin-bottom: var(--mxl);
    border-bottom: 1px solid var(--colorBlack300);
  }
}

.press-review__quote {
  margin-top: var(--ml);
}

.press-review__button {
  margin-top: var(--mM);
  margin-left: auto;
}
