.publication {
  padding: var(--mxl);
  background-color: var(--colorWhite);
  border: 1px solid var(--colorBlack300);
}

.publication--single {
  padding: var(--m2xl) var(--mxl);
  margin-top:var(--m2xl);
}

.publication__title {
  margin-bottom: var(--ms);
}

.publication__subtitle + .publication__author {
  margin-top: var(--mxs);
}

.publication__content {
  padding-top: var(--m2xl);
}
