.textcontent {
  & hr {
    margin-bottom: var(--mxl);
    clear: both;
    border: 1px solid var(--colorBlack200);

    &.mb--3xl {
      margin-bottom: var(--m3xl);
    }

    &.mb--4xl {
      margin-bottom: var(--m3xl);
    }
  }

  & p {
    margin-bottom: var(--mM);

    &:last-child {
      margin-bottom: 0;
    }

    &.mb--0 {
      margin-bottom: 0;
    }

    &.mb--3xl {
      margin-bottom: var(--m3xl);
    }
  }

  & p + hr {
    margin-top: var(--m2xl);
  }

  & h1 {
    margin-bottom: var(--m3xl);

    @media (--tabletSmall) {
      margin-bottom: var(--mxl);
    }

    &.mb--0 {
      margin-bottom: 0;
    }

    &.mb--s {
      margin-bottom: var(--ms);
    }

    &.mb--m {
      margin-bottom: var(--mM);
    }
  }

  & h2 {
    margin-bottom: var(--mxl);

    @media (--tabletSmall) {
      margin-bottom: var(--ml);
    }

    &.mb--0 {
      margin-bottom: 0;
    }

    &.mb--s {
      margin-bottom: var(--ms);
    }

    &.mb--m {
      margin-bottom: var(--mM);
    }
  }

  & h3 {
    margin-bottom: var(--ml);

    @media (--tabletSmall) {
      margin-bottom: var(--mM);
    }

    &.mb--0 {
      margin-bottom: 0;
    }

    &.mb--s {
      margin-bottom: var(--ms);
    }
  }

  & h4 {
    margin-bottom: var(--mM);

    @media (--tabletSmall) {
      margin-bottom: var(--ms);
    }

    &.mb--0 {
      margin-bottom: 0;
    }

    &.mb--s {
      margin-bottom: var(--ms);
    }

    &.mb__XL {
      margin-bottom: var(--mxl);
    }

    &.mb--2xl {
      margin-bottom: var(--m2xl);
    }

    &.mb--3xl {
      margin-bottom: var(--m3xl);
    }
  }

  & h5 {
    margin-bottom: var(--ms);

    @media (--tabletSmall) {
      margin-bottom: var(--mxs);
    }

    &.mb--0 {
      margin-bottom: 0;
    }

    &.mb--s {
      margin-bottom: var(--ms);
    }
  }

  & h6 {
    margin-bottom: var(--mxs);

    @media (--tabletSmall) {
      margin-bottom: var(--m2xs);
    }

    &.mb--0 {
      margin-bottom: 0;
    }

    &.mb--s {
      margin-bottom: var(--ms);
    }
  }

  & p + h2,
  & pre + h2,
  & table + h2,
  & ul + h2 {
    margin-top: var(--m3xl);

    @media (--tabletSmall) {
      margin-top: var(--m2xl);
    }
  }

  & p + h3,
  & pre + h3,
  & table + h3,
  & ul + h3 {
    margin-top: var(--m2xl);

    @media (--tabletSmall) {
      margin-top: var(--mxl);
    }
  }

  & p + h4,
  & pre + h4,
  & table + h4,
  & ul + h4 {
    margin-top: var(--mxl);

    @media (--tabletSmall) {
      margin-bottom: var(--ml);
    }
  }

  & p + h5,
  & pre + h5,
  & table + h5,
  & ul + h5 {
    margin-top: var(--ml);
  }

  & p + h6,
  & pre + h6,
  & table + h6,
  & ul + h6 {
    margin-top: var(--mM);
  }

  & iframe {
    margin-bottom: var(--mxl);

    @media (--tabletSmall) {
      margin-bottom: var(--ml);
    }
  }

  & video + .embed__wrapper {
    margin-top: var(--ml);
  }

  & ul {
    list-style: none;

    &:not(:last-child) {
      margin-bottom: var(--ml);
    }
  }

  & li {
    position: relative;

    &:not(:last-child) {
      margin-bottom: var(--mM);
    }
  }

  & ul & li {
    &::before {
      position: absolute;
      left: calc(var(--mM) * -1);
      width: 1em;
      color: var(--colorBlack400);
      content: "\2022"; /* \2022 is the CSS Code/unicode for a bullet */
    }

    & svg {
      position: absolute;
      top: var(--m2xs);
      left: calc(var(--ml) * -1);
    }
  }

  & .textcontent--no-list-style {
    list-style-type: none;
  }

  & blockquote {
    margin-bottom: var(--mM);
  }

  & code {
    display: inline-block;
    font-size: 0.95em;
    background-color: var(--colorBlack200);
    border-radius: 0.3em;

    &.language-success {
      border: 1px solid var(--colorSuccess);
    }

    &.language-error {
      border: 1px solid var(--colorError);
    }
  }

  & pre {
    width: 100%;
    margin-bottom: var(--mM);
    overflow-x: auto;
    background-color: var(--colorBlack200);

    & > code {
      display: block;
      width: max-content;
      min-width: 100%;
      padding: 0.8rem;
      border: 1px solid var(--colorBlack300);
    }
  }

  &:not(pre) > code {
    padding: 0.2em 0.4em;
  }

  & .button {
    margin-bottom: var(--mxl);

    @media (--tabletSmall) {
      margin-bottom: var(--ml);
    }

    &.mb--0 {
      margin-bottom: 0;
    }
  }
}

.textcontent--margin-top-large {
  margin-top: var(--m2xl);
}

.textcontent--has-no-margin-top {
  margin-top: 0;
}
