.thumbgallery {
  margin-left: auto;
  margin-right: auto;

  &.thumbgallery--is-small {
    & > .thumbgallery__items:not(.thumbgallery__items--has-no-margin-top) {
      margin-top: var(--mL);
    }
  }

  &.thumbgallery--align-x-left {
    & > .thumbgallery__header {
      margin-left: 0;
      text-align: left;
    }
    & > .thumbgallery__items {
      justify-content: flex-start;
    }
  }

  &.thumbgallery--align-x-right {
    & > .thumbgallery__header {
      text-align: right;
      margin-right: 0;
    }
    & > .thumbgallery__items {
      justify-content: flex-end;
    }
  }
}

.thumbgallery__header {
  @mixin grid 8, 7;
  text-align: center;
  margin: 0 auto;
}

.thumbgallery__subtitle {
  margin-top: var(--mXS);
}

.thumbgallery__items {
  @mixin grid 10, 9;
  margin-top: var(--m2XL);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  &.thumbgallery__items--has-no-margin-top {
    margin-top: 0;
  }
}
