
{{ define "main" }}

  {{ $logoBlackPNG := resources.Get "images/logo/logo-open-terms-archive-black.png" }}
  {{ $logoBlackSVG := resources.Get "images/logo/logo-open-terms-archive-black.svg" }}
  {{ $logoBlackAlternativePNG := resources.Get "images/logo/logo-open-terms-archive-black-alternative.png" }}
  {{ $logoBlackAlternativeSVG := resources.Get "images/logo/logo-open-terms-archive-black-alternative.svg" }}
  {{ $logoWhitePNG := resources.Get "images/logo/logo-open-terms-archive-white.png" }}
  {{ $logoWhiteSVG := resources.Get "images/logo/logo-open-terms-archive-white.svg" }}
  {{ $logoWhiteAlternativePNG := resources.Get "images/logo/logo-open-terms-archive-white-alternative.png" }}
  {{ $logoWhiteAlternativeSVG := resources.Get "images/logo/logo-open-terms-archive-white-alternative.svg" }}
  
  {{ partial "hero.html" (dict "title" (.Params.hero.title | safeHTML) "size" "98" ) }}
  
  <div class="container container--is-gray container--has-no-padding-y">
    <div class="container container--98">
      <h2>{{ i18n "media.logo.title" }}</h2>
      <h4 class="mt--3xl">{{ i18n "media.logo.main_version" }}</h4>
      <div class="logo mb--m mt--l">
        <svg>
          <title>Open Terms Archive main logo</title>
          <use href="#logo-main"></use>
        </svg>
      </div>
      <div class="assets">
        <div class="asset">
          <div class="asset__description">{{ i18n "media.logo.light_background" }}</div>
          <div class="asset__actions">
            {{ with $logoBlackPNG }}
              <a class="button" download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_png" }}</a>
              <a download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_svg" }}</a>
            {{ end }}
          </div>
        </div>
        <div class="asset">
          <div class="asset__description">{{ i18n "media.logo.dark_background" }}</div>
          <div class="asset__actions">
            {{ with $logoWhitePNG }}
              <a class="button" download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_png" }}</a>
              <a download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_svg" }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      <h4>{{ i18n "media.logo.alternative_version" }}</h4>
      <div class="logo__alternative logo--big mb--m mt--l">
        <svg>
          <title>Open Terms Archive alternative logo</title>
          <use href="#logo-alternative"></use>
        </svg>
      </div>
      <div class="assets">
        <div class="asset">
          <div class="asset__description">{{ i18n "media.logo.light_background" }}</div>
          <div class="asset__actions">
            {{ with $logoBlackAlternativePNG }}
              <a class="button" download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_png" }}</a>
              <a download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_svg" }}</a>
            {{ end }}
          </div>
        </div>
        <div class="asset">
          <div class="asset__description">{{ i18n "media.logo.dark_background" }}</div>
          <div class="asset__actions">
            {{ with $logoWhiteAlternativePNG }}
              <a class="button" download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_png" }}</a>
              <a download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_svg" }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container container--has-no-padding-y">
    <div class="container container--98">
      <h2>{{ i18n "media.colors.title" }}</h2>
      <table class="mt--2xl">
        <thead>
          <tr>
            <th style="width: 160px;">{{ i18n "media.colors.cols.name" }}</th>
            <th style="width: 120px;">{{ i18n "media.colors.cols.code" }}</th>
            <th>{{ i18n "media.colors.cols.color" }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>Primary</b></td>
            <td>#2d63ff</td>
            <td style="background-color: var(--colorPrimary);"></td>
          </tr>
          <tr>
            <td><b>Primary 300</b></td>
            <td class="">#c5d9ff</td>
            <td style="background-color: var(--colorPrimary300);"></td>
          </tr>
          <tr>
            <td><b>Secondary</b></td>
            <td>#0b08a0</td>
            <td style="background-color: var(--colorSecondary);"></td>
          </tr>
          <tr>
            <td><b>Black 900</b></td>
            <td>#010613</td>
            <td style="background-color: var(--colorBlack900);"></td>
          </tr>
          <tr>
            <td><b>Black 850</b></td>
            <td>#171717</td>
            <td style="background-color: var(--colorBlack850);"></td>
          </tr>
          <tr>
            <td><b>Black 800</b></td>
            <td>#333333</td>
            <td style="background-color: var(--colorBlack800);"></td>
          </tr>
          <tr>
            <td><b>Black 700</b></td>
            <td>#454545</td>
            <td style="background-color: var(--colorBlack700);"></td>
          </tr>
          <tr>
            <td><b>Black 600</b></td>
            <td>#5e5e5e</td>
            <td style="background-color: var(--colorBlack600);"></td>
          </tr>
          <tr>
            <td><b>Black 400</b></td>
            <td>#999999</td>
            <td style="background-color: var(--colorBlack400);"></td>
          </tr>
          <tr>
            <td><b>Black 300</b></td>
            <td>#d6d6d6</td>
            <td style="background-color: var(--colorBlack300);"></td>
          </tr>
          <tr>
            <td><b>Black 200</b></td>
            <td>#f5f5f5</td>
            <td style="background-color: var(--colorBlack200);"></td>
          </tr>
          <tr>
            <td><b>Black 100</b></td>
            <td>#fafafa</td>
            <td style="background-color: var(--colorBlack100);"></td>
          </tr>
          <tr>
            <td><b>White</b></td>
            <td>#fefffd</td>
            <td style="background-color: var(--colorWhite);"></td>
          </tr>
          <tr>
            <td><b>Tertiary</b></td>
            <td>#f9dd3f</td>
            <td style="background-color: var(--colorTertiary);"></td>
          </tr>
          <tr>
            <td><b>Error</b></td>
            <td>#ec368d</td>
            <td style="background-color: var(--colorError);"></td>
          </tr>
          <tr>
            <td><b>Success</b></td>
            <td>#11ebc3</td>
            <td style="background-color: var(--colorSuccess);"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container container--has-no-padding-y">
    <div class="container container--98">
      <div class="textcontent">
        {{ .Content }}
      </div>
    </div>
  </div>

{{ end }}
