{{ define "main" }}
  {{ partial "hero.html" (dict "title" (.Params.hero.title | safeHTML) "size" "98" ) }}
  {{ $logoBlackPNG := resources.Get "images/logo/logo-open-terms-archive-black.png" }}
  {{ $logoBlackSVG := resources.Get "images/logo/logo-open-terms-archive-black.svg" }}
  {{ $logoBlackAlternativePNG := resources.Get "images/logo/logo-open-terms-archive-black-alternative.png" }}
  {{ $logoBlackAlternativeSVG := resources.Get "images/logo/logo-open-terms-archive-black-alternative.svg" }}
  {{ $logoWhitePNG := resources.Get "images/logo/logo-open-terms-archive-white.png" }}
  {{ $logoWhiteSVG := resources.Get "images/logo/logo-open-terms-archive-white.svg" }}
  {{ $logoWhiteAlternativePNG := resources.Get "images/logo/logo-open-terms-archive-white-alternative.png" }}
  {{ $logoWhiteAlternativeSVG := resources.Get "images/logo/logo-open-terms-archive-white-alternative.svg" }}
  <div class="container container--is-gray container--has-no-padding-y">
    <div class="container container--98">
      <h2>{{ i18n "media.logo.title" }}</h2>
      <h4 class="mt--3xl">{{ i18n "media.logo.main_version" }}</h4>
      <div class="logo mb--m mt--l">
        <svg>
          <title>Open Terms Archive main logo</title>
          <use href="#logo-main"></use>
        </svg>
      </div>
      <div class="assets">
        <div class="asset">
          <div class="asset__description">{{ i18n "media.logo.light_background" }}</div>
          <div class="asset__actions">
            {{ with $logoBlackPNG }}
              <a class="button" download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_png" }}</a>
              <a download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_svg" }}</a>
            {{ end }}
          </div>
        </div>
        <div class="asset">
          <div class="asset__description">{{ i18n "media.logo.dark_background" }}</div>
          <div class="asset__actions">
            {{ with $logoWhitePNG }}
              <a class="button" download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_png" }}</a>
              <a download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_svg" }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      <h4>{{ i18n "media.logo.alternative_version" }}</h4>
      <div class="logo__alternative logo--big mb--m mt--l">
        <svg>
          <title>Open Terms Archive alternative logo</title>
          <use href="#logo-alternative"></use>
        </svg>
      </div>
      <div class="assets">
        <div class="asset">
          <div class="asset__description">{{ i18n "media.logo.light_background" }}</div>
          <div class="asset__actions">
            {{ with $logoBlackAlternativePNG }}
              <a class="button" download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_png" }}</a>
              <a download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_svg" }}</a>
            {{ end }}
          </div>
        </div>
        <div class="asset">
          <div class="asset__description">{{ i18n "media.logo.dark_background" }}</div>
          <div class="asset__actions">
            {{ with $logoWhiteAlternativePNG }}
              <a class="button" download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_png" }}</a>
              <a download href="{{ .RelPermalink }}">{{ i18n "media.logo.cta_svg" }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container--has-no-padding-top">
    <div class="container container--98">
      <div class="textcontent">
        {{ .Content }}
      </div>
    </div>
  </div>
{{ end }}
