{{ $linksTo := slice "version" }}
{{ $bgColor := "gray" }}
{{ $isDatasetsPage := false }}
{{ if eq (relref . "/datasets") .Page.RelPermalink }}
  {{ $linksTo = slice "dataset" "endpoint" }}
  {{ $bgColor = "white" }}
  {{ $isDatasetsPage = true }}
{{ end }}

<div class="container container--is-{{ $bgColor }} container--wide container--has-no-padding-x container--has-no-padding-top" id="collections">
  <div class="container container--1211 {{ with $isDatasetsPage }}container--has-no-padding-bottom{{ end }}">
    <div class="collections cardlist">
      {{ with .Params.collections.title }}
      <div class="cardlist__header cardlist__header--is-center">
        <h2 class="cardlist__title">{{ . }}</h2>
      </div>
      {{ end }}
      <div class="cardlist__items">
        {{ range site.Data.collections }}
          {{ partial "collection.html" (dict "data" . "linksTo" $linksTo) }}
        {{ end }}
        {{ if not (eq "/datasets/" .Page.RelPermalink) }}
          {{ partial "new-collection.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
