{{ $linksTo := .Scratch.Get "linksTo" }}

<div class="card card--is-white card--center">
  {{ $image := resources.Get (printf "/images/collections/%s.png" (.Params.name | urlize)) }}
  {{ with $image }}
    <div class="card__header">
      <img src="{{ .RelPermalink }}" alt="">
    </div>
  {{ end }}
  <div class="card__body">
    {{ with .Params.name }}<h4 class="card__title">{{ . }}</h4>{{ end }}
    {{ with .Params.industries }}<h5 class="card__subtitle h5--light">{{ index . site.Language.Lang | safeHTML }}</h5>{{ end }}
    <div class="cardtable">
      {{ with .Params.stats.services }}
        {{ partial "card-table-item.html" (dict "title" (i18n "collections.services") "icon" "folder" "desc" .) }}
      {{ end }}
      {{ with .Params.stats.documents }}
        {{ partial "card-table-item.html" (dict "title" (i18n "collections.documents") "icon" "file" "desc" .) }}
      {{ end }}
      {{ with .Params.languages }}
        {{ $languages := slice }}
        {{ range . }}
          {{ if eq . "*" }}
            {{ $languages = $languages | append (i18n "collections.language_various") }}
          {{ else if eq . "*eu" }}
            {{ $languages = $languages | append (i18n "collections.language_europe") }}
          {{ else }}
            {{ $languages = $languages | append ( strings.FirstUpper (index site.Data.display_names.languages site.Language.LanguageCode .)) }}
          {{ end }}
        {{ end }}
        {{ partial "card-table-item.html" (dict "title" (i18n "collections.language" (len $languages)) "icon" "message-circle" "desc" (delimit $languages ", ")) }}
      {{ end }}
      {{ with .Params.jurisdictions }}
        {{ $jurisdictions := slice }}
        {{ range . }}
          {{ $jurisdictions = $jurisdictions | append ( strings.FirstUpper (index site.Data.display_names.regions site.Language.LanguageCode .)) }}
        {{ end }}
        {{ partial "card-table-item.html" (dict "title" (i18n "collections.jurisdiction" (len $jurisdictions)) "icon" "map" "desc" (delimit $jurisdictions ", ")) }}
      {{ end }}
    </div>
    <div class="mt--xl text--center">
      {{ with $linksTo }}
        {{ if (in . "version") }}
          <a class="button button--secondary" href="https://github.com/openTermsArchive/{{ $.Params.id }}-versions" target="_blank" rel="noopener">
            <i class="icon mr--2xs" data-lucide="search"></i>
            {{ i18n "collections.cta.browse" }}
          </a>
        {{ end }}
        {{ if (in . "dataset") }}
          <a class="button button--secondary" href="https://github.com/openTermsArchive/{{ $.Params.id }}-versions/releases/latest" target="_blank" rel="noopener">
            <i class="icon mr--2xs" data-lucide="download"></i>
            {{ i18n "collections.cta.download" }}
          </a>
        {{ end }}
        {{ if (in . "endpoint") }}
          {{ with $.Params.endpoint }}
            <div class="mt--s text--center">
              <a class="linkicon" href="{{ . }}/docs" target="_blank" rel="noopener">
                <i class="icon" data-lucide="wrench"></i>
                <span class="linkicon__content">
                  {{ i18n "collections.cta.endpoint" }}
                </span>
              </a>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="card__author card__author--is-center">
    {{ with .Params.maintainers }}
      {{ range . }}
        {{ $image := resources.Get (printf "/images/contributors/%s.png" (.name | urlize)) }}
        {{ $name := .name }}
        {{ with $image }}
          <img src="{{ .RelPermalink }}" alt="{{ $name }}">
        {{ end }}
      {{ end }}
    {{ else }}
      {{ partial "volunteer-contributors.html" . }}
    {{ end }}
  </div>
</div>
