{{ $bgColor := default "gray" .bgColor }}
{{ $isDatasetsPage := false }}
{{ $context := .context }}
{{ $featured := default false .featured }}
{{ $query := where site.RegularPages.ByWeight "Section" "collections" }}
{{ if .featured }}{{ $query = first 3 $query }}{{ end }}
{{ if eq (relref $context "/datasets") $context.Page.RelPermalink }}
  {{ $bgColor = "white" }}
  {{ $isDatasetsPage = true }}
{{ end }}

<div class="container container--is-{{ $bgColor }} container--wide container--has-no-padding-x" id="collections">
  <div class="container container--1211 {{ if or $isDatasetsPage .featured }}container--has-no-padding-bottom{{ end }} container--has-no-padding-y">
    <div class="collections cardlist">
      {{ with $context.Params.collections.title }}
        <div class="cardlist__header cardlist__header--is-center">
          <h3 class="cardlist__subtitle h3--light">{{ . }}</h3>
        </div>
      {{ end }}
      <div class="cardlist__items">
        {{ range $query }}
          {{ partial "collection-card.html" . }}
        {{ end }}
      </div>
    </div>
    {{ if $featured }}
      <div class="container container--1211 container--has-no-padding-bottom text--center">
        <a href="{{ relref $context "/collections" }}" class="button">
          {{ i18n "collections.cta.view_all" }}
          <i class="icon ml--2xs" data-lucide="arrow-right"></i>
        </a>
      </div>
    {{ end }}
  </div>
</div>
