{{ $name := .Params.name }}
{{ $tagline := default .Params.tagline (index .Params.i18n site.Language.Lang "tagline") }}
{{ $collectionLogo := partial "func/getLogo.html" (dict "logoUrl" .Params.logo "name" $name "type" "collections") }}
{{ with $collectionLogo.error }}{{ warnf . }}{{ end }}
{{ $i18n := .Params.i18n }}

<div class="card card--is-white card--center">
  
  {{ with $collectionLogo.resource }}
    <div class="card__header">
      <img src="{{ .RelPermalink }}" alt="{{ $name }}">
    </div>
  {{ end }}

  <div class="card__body">

    {{ with $name }}<h4 class="card__title">{{ . }}</h4>{{ end }}
    {{ with $tagline }}<h5 class="card__subtitle h5--light">{{ . }}</h5>{{ end }}

    <div class="cardtable">

      {{ with .Params.totalServices }}
        {{ partial "card-table-item.html" (dict "title" (i18n "collections.metadata.services") "icon" "folder" "desc" .) }}
      {{ end }}

      {{ with .Params.totalTerms }}
        {{ partial "card-table-item.html" (dict "title" (i18n "collections.metadata.documents") "icon" "file" "desc" .) }}
      {{ end }}

      {{ with .Params.languages }}
        {{ $languages := slice }}
        {{ range . }}
          {{ if eq . "*" }}
            {{ $languages = $languages | append (i18n "collections.metadata.language_various") }}
          {{ else if eq . "*eu" }}
            {{ $languages = $languages | append (i18n "collections.metadata.language_europe") }}
          {{ else }}
            {{ $languages = $languages | append ( strings.FirstUpper (index site.Data.display_names.languages site.Language.LanguageCode .)) }}
          {{ end }}
        {{ end }}
        {{ partial "card-table-item.html" (dict "title" (i18n "collections.metadata.language" (len $languages)) "icon" "message-circle" "desc" (delimit $languages ", ")) }}
      {{ end }}

      {{ with .Params.jurisdictions }}
        {{ $jurisdictions := slice }}
        {{ range . }}
          {{ $jurisdictions = $jurisdictions | append ( strings.FirstUpper (index site.Data.display_names.regions site.Language.LanguageCode .)) }}
        {{ end }}
        {{ partial "card-table-item.html" (dict "title" (i18n "collections.metadata.jurisdiction" (len $jurisdictions)) "icon" "map" "desc" (delimit $jurisdictions ", ")) }}
      {{ end }}

    </div>

    <div class="mt--xl text--center">
      <div>
        <a class="button button--secondary" href="{{ .Params.versions }}" target="_blank" rel="noopener">
          {{ i18n "collections.cta.browse" }}
          <i class="icon ml--2xs" data-lucide="search"></i>
        </a>
      </div>
      <div class="mt--s">
        <a class="linkicon" href="{{ .Permalink }}">
          {{ i18n "collections.cta.details" }}
          <i class="icon ml--2xs" data-lucide="arrow-right"></i>
        </a>
      </div>
    </div>
  </div>

  {{ with .Params.governance }}
    <div class="card__author card__author--is-center">
      {{ range . }}
        {{ if (in .roles "sponsor") }}
          {{ $entityName := default .name (index $i18n site.Language.Lang "governance" .name "name") }}
          {{ $entityLogoUrl := default .logo (index $i18n site.Language.Lang "governance" .name "logo") }}
          {{ $sponsorsLogo := partial "func/getLogo.html" (dict "logoUrl" $entityLogoUrl "name" $entityName) }}
          {{ with $sponsorsLogo.error }}{{ warnf . }}{{ end }}
          {{ with $sponsorsLogo.resource }}<img src="{{ .RelPermalink }}" alt="{{ $entityName }}">{{ end }}
        {{ end }}
      {{ end }}
    </div>
  {{ end }}

</div>


