<div class="card card--is-white card--center">
  {{ $image := resources.Get (printf "/images/collections/%s.png" (.title | urlize)) }}
  {{ with $image }}
  <div class="card__header">
    <img src="{{ .RelPermalink }}" alt="">
  </div>
  {{ end }}
  <div class="card__body">
    {{ with .title }}<h4 class="card__title">{{ . }}</h4>{{ end }}
    {{ with .data.industries }}<h5 class="card__subtitle h5--light">{{ index . site.Language.Lang | safeHTML }}</h5>{{ end }}
    <div class="cardtable">
    {{ with .data.stats.services }}
      {{ partial "card-table-item.html" (dict "title" (i18n "collections.services") "icon" "folder" "desc" .) }}
    {{ end }}
    {{ with .data.stats.documents }}
      {{ partial "card-table-item.html" (dict "title" (i18n "collections.documents") "icon" "file" "desc" .) }}
    {{ end }}
    {{ with .data.languages }}
      {{ $languages := slice }}
      {{ range . }}
        {{ if eq . "*" }}
          {{ $languages = $languages | append (i18n "collections.language_various") }}
        {{ else if eq . "*eu" }}
          {{ $languages = $languages | append (i18n "collections.language_europe") }}
        {{ else }}
          {{ $languages = $languages | append ( strings.FirstUpper (index site.Data.display_names.languages site.Language.LanguageCode .)) }}
        {{ end }}
      {{ end }}
      {{ partial "card-table-item.html" (dict "title" (i18n "collections.language" (len $languages)) "icon" "message-circle" "desc" (delimit $languages ", ")) }}
    {{ end }}
    {{ with .data.jurisdictions }}
      {{ $jurisdictions := slice }}
      {{ range . }}
          {{ $jurisdictions = $jurisdictions | append ( strings.FirstUpper (index site.Data.display_names.regions site.Language.LanguageCode .)) }}
      {{ end }}
      {{ partial "card-table-item.html" (dict "title" (i18n "collections.jurisdiction" (len $jurisdictions)) "icon" "map" "desc" (delimit $jurisdictions ", ")) }}
    {{ end }}
    </div>
    <div class="mt--xl text--center">
      {{ with .linksTo }}
        {{ if (in . "version") }}
          <a class="button button--secondary" href="https://github.com/openTermsArchive/{{ $.data.id }}-versions" target="_blank" rel="noopener">
            <i class="icon mr--2xs" data-lucide="search"></i>
            {{ i18n "collections.cta.browse" }}
          </a>
        {{ end }}
        {{ if (in . "dataset") }}
          <a class="button button--secondary" href="https://github.com/openTermsArchive/{{ $.data.id }}-versions/releases/latest" target="_blank" rel="noopener">
            <i class="icon mr--2xs" data-lucide="download"></i>
            {{ i18n "collections.cta.download" }}
          </a>
        {{ end }}
        {{ if (in . "endpoint") }}
          <div class="mt--s text--center">
            <a class="linkicon" href="{{ $.data.endpoint }}/docs" target="_blank" rel="noopener">
              <i class="icon" data-lucide="wrench"></i>
              <span class="linkicon__content">
                {{ i18n "collections.cta.endpoint" }}
              </span>
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="card__author card__author--is-center">
    {{ with .data.maintainers }}
      {{ range . }}
        {{ $image := resources.Get (printf "/images/contributors/%s.png" (.name | urlize)) }}
        {{ with $image }}
          <img src="{{ .RelPermalink }}" alt="{{ $.name }}">
        {{ end }}
      {{ end }}
    {{ else }}
      <div class="icon__volunteer-contributors-wrapper">
        <div>
          <i class="icon icon--gray" data-lucide="user"></i>
          <i class="icon icon--gray" data-lucide="user"></i>
          <i class="icon icon--gray" data-lucide="user"></i>
        </div>
        <span class="text--light">{{ i18n "collections.volunteer_contributors" }}</span>
      </div>
    {{ end }}
  </div>
</div>
