{{ $thumbnailWidth := default 64 .thumbnailWidth }}
{{ $thumbnailHeight := default 64 .thumbnailHeight }}
{{ $showImage := default true .showImage }}
{{ $showInfo := default false .showInfo }}

<div class="contributor">
  <a class="contributor__link" href="{{ .contributor.profile }}" target="_blank" rel="nofollow noopener">
    {{ with $showImage }}
      {{ $image := default (resources.Get "/images/contributors/placeholder.jpg") (resources.Get (printf "/images/contributors/%s.jpg" ($.contributor.name | urlize))) }}
      {{ with $.contributor.avatar_url }}
        {{ $remoteImage := resources.GetRemote . }}
        {{ if or (eq $remoteImage.Data.ContentType "image/jpeg") (eq $remoteImage.Data.ContentType "image/png") }}
          {{ $image = $remoteImage }}
        {{ end }}
      {{ end }}
      <img class="contributor__image" src="{{ $image.RelPermalink }}" alt="{{ $.contributor.name }}" width="{{ $thumbnailWidth }}" height="{{ $thumbnailHeight }}">
    {{ end }}
    {{ with $showInfo }}<div class="contributor__info">{{ $.contributor.name }}</div>{{ end }}
  </a>
</div>
