{{ $thumbnailWidth := 64 }}
{{ if .thumbnailWidth }}{{ $thumbnailWidth = .thumbnailWidth }}{{ end }}
{{ $thumbnailHeight := 64 }}
{{ if .thumbnailHeight }}{{ $thumbnailHeight = .thumbnailHeight }}{{ end }}
<div class="contributors {{ with .class }}{{ . }}{{ end }}">
  <div class="contributors__items">
    {{ range $name, $link := (index site.Data.contributors .type) }}
      <div class="contributor">
        <a  class="contributor__link" href="{{ $link }}" target="_blank" rel="nofollow noopener">
          {{ $imagePath := (printf "/images/contributors/%s.jpg" ($name | urlize)) }}
          {{ $image := resources.Get $imagePath }}
          <img class="contributor__image" src="{{ $image.RelPermalink }}" alt="{{ $name }}" width="{{ $thumbnailWidth }}" height="{{ $thumbnailHeight }}" />
          {{ with $.showInfo }}<div class="contributor__info">{{ $name }}</div>{{ end }}
        </a>
      </div>
    {{ end }}
  </div>
</div>
