{{ $thumbnailWidth := default 64 .thumbnailWidth }}
{{ $thumbnailHeight := default 64 .thumbnailHeight }}
{{ $showImage := default true .showImage }}
{{ $showInfo := default false .showInfo }}

<div class="contributor">
  <a class="contributor__link" href="{{ .contributor.profile }}" target="_blank" rel="nofollow noopener">
    {{ with $showImage }}
      {{ $image := default (resources.Get "/images/contributors/placeholder.jpg") (resources.Get (printf "/images/contributors/%s.jpg" ($.contributor.name | urlize))) }}
      {{ with $.contributor.avatar_url }}
        {{ with try (resources.GetRemote .) }}
          {{ with .Err }}
            {{ errorf "%s" . }}
          {{ else with .Value }}
            {{ $remoteImage := . }}
            {{ if or (eq $remoteImage.Data.ContentType "image/jpeg") (eq $remoteImage.Data.ContentType "image/png") }}
              {{ $image = $remoteImage }}
            {{ end }}
          {{ else }}
            {{ errorf "Unable to get remote resource %q" . }}
          {{ end }}
        {{ end }}
      {{ end }}
      <img class="contributor__image" src="{{ $image.RelPermalink }}" alt="{{ $.contributor.name }}" width="{{ $thumbnailWidth }}" height="{{ $thumbnailHeight }}">
    {{ end }}
    {{ with $showInfo }}<div class="contributor__info">{{ $.contributor.name | title }}</div>{{ end }}
  </a>
</div>
