<h2>{{ i18n "budget.expenditures.title" }}</h2>
<table class="mb--3xl">
  <thead>
    <tr>
      <th scope="col">{{ i18n "budget.expenditures.table.col1" }}</th>
      <th scope="col">{{ i18n "budget.expenditures.table.col2" }}</th>
    </tr>
  </thead>
  <tbody>
    {{ range sort site.Data.budget.expenditures "date" "desc" }}
      <tr scope="row">
        <td>{{ (.date | time.Format "January 2006") }}</td>
        <td>{{ .amount | lang.FormatNumber 0 }}</td>
      </tr>
    {{ end }}
  </tbody>
</table>
