<div class="container container--has-no-padding-y container--fluid container--has-no-padding-x container--is-gray">
  <div class="divider">
    <hr >
  </div>
  <div class="container container--flex container--1211 container--has-padding-y-small">
    <footer class="footer">
      <div class="footer__logo logo"><svg><use href="#logo-main"></use></svg></div>
      <ul class="footer__main-menu">
        {{ range .Site.Menus.footer }}
          {{ $href := absLangURL .URL }}
          {{ if eq .Identifier "mailto" }}
            {{ $href = printf "mailto:%s" $.Site.Params.contact_email }}
          {{ end }}
          <li>
            <a href="{{ $href }}" {{ with .Params.target }}target="{{ . }}"{{ end }}>{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
      <ul class="footer__sub-menu">
        {{ range .Site.Menus.footer_sub }}
          <li>
            <a class="a--small" href="{{ .URL }}" {{ with .Params.target }}target="{{ . }}"{{ end }}>
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      </ul>
      <ul class="footer__socials">
        <li>
          <a class="a--icontext a--small" target="_blank" rel="me" href="{{ .Param "mastodon.url" }}" aria-label="Mastodon">
            <span class="icon__circle-wrapper icon__circle-wrapper--small">
              <i class="icon icon--fill-white" data-simple-icon="mastodon"></i>
            </span>
          </a>
        </li>
        <li>
          <a class="a--icontext a--small" target="_blank" rel="me" href="{{ .Param "github.url" }}" aria-label="GitHub">
            <span class="icon__circle-wrapper icon__circle-wrapper--small">
              <i class="icon icon--fill-white" data-simple-icon="github"></i>
            </span>
          </a>
        </li>
        <li>
          <a class="a--icontext a--small" target="_blank" rel="me" href="{{ .Param "linkedin.url" }}" aria-label="LinkedIn">
            <span class="icon__circle-wrapper icon__circle-wrapper--small">
              <i class="icon icon--fill-white" data-simple-icon="linkedin"></i>
            </span>
          </a>
        </li>
      </ul>
    </footer>
  </div>
</div>

{{ $iconsJs := resources.Get "js/icons.js" | js.Build }}
<script src="{{ $iconsJs.RelPermalink }}"></script>

{{ $brandsJs := resources.Get "js/brands.js" | js.Build }}
<script src="{{ $brandsJs.RelPermalink }}"></script>

{{ $languageSwitcherJs := resources.Get "js/languageSwitcher.js" | js.Build }}
<script src="{{ $languageSwitcherJs.RelPermalink }}"></script>

{{ $headerJs := resources.Get "js/header.js" | js.Build }}
<script src="{{ $headerJs.RelPermalink }}"></script>

{{ if eq .Layout "stats" }}
  {{ $chartJs := resources.Get "js/charts/index.js" | js.Build }}
  <script src="{{ $chartJs.RelPermalink }}"></script>
{{ end }}

<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setExcludedQueryParams", ["simulationId","_csrf"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://stats.data.gouv.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '179']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
