<div class="container container--has-no-padding-y container--has-no-padding-x container--fluid">
  <div class="container container--1211 container--flex container--has-no-padding-x container--has-no-padding-y">
    <header class="header">
      <div class="header__logo">
        <a href="{{ relref . "/" }}">
          <div class="logo">
            <svg>
              <title>Open Terms Archive logo</title>
              <use href="#logo-main"></use>
            </svg>
          </div>
        </a>
      </div>
      <div class="header__menus">
        <nav class="header__menu header__menu-primary" aria-label="Primary">
          <ul>
            {{ range .Site.Menus.header }}
            <li>
              <a href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
          </ul>
        </nav>
        <nav class="header__menu header__menu-secondary" aria-label="Languages switcher">
          <div class="language-switcher">
            <button type="button" class="language-switcher--current">
              {{ $currentLanguage := .Site.Language.Lang }}
              {{ $currentLanguage | upper }}
              <i class="icon icon--gray" data-lucide="chevron-down"></i>
            </button>
            <div class="language-switcher__items">
              {{/*
              If we have translations of this page, we display links to them.
              Else, we link to the home page of different languages available.
              */}}
              {{ if .IsTranslated }}
                {{ range .Translations }}
                <div class="language-switcher__item">
                  <a href="{{ .Permalink }}">{{ .Language.Lang | upper }}</a>
                </div>
                {{ end }}
              {{ else }}
              {{ range $.Site.Home.AllTranslations }}
                {{ if ne $currentLanguage .Language.Lang }}
                  <div class="language-switcher__item">
                    <a href="{{ .RelPermalink }}">{{ .Language.Lang | upper }}</a>
                  </div>
                  {{ end }}
                {{ end }}
              {{ end }}
            </div>
          </div>
          <ul>
            <li>
              <a class="icon__circle-wrapper" target="_blank" rel="noopener" href="{{ .Param "twitter.url" }}" aria-label="Twitter">
                <i class="icon icon--white" data-lucide="twitter"></i>
              </a>
            </li>
            <li>
              <a class="icon__circle-wrapper" target="_blank" rel="noopener" href="{{ .Param "github.url" }}" aria-label="GitHub">
                <i class="icon icon--white" data-lucide="github"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__open-link">{{ i18n "header.menu.open" }}</div>
      <div class="header__close-link">
        {{ i18n "header.menu.close" }}
        <i class="icon" data-lucide="x"></i>
      </div>
    </header>
  </div>
</div>
