<div class="container {{ with .dark }}container--is-dark{{ end }} container--has-no-padding-y" id="mission-statement">
  <div class="container {{ with .size }}container--{{ . }}{{ else }}container--1211{{ end }} container--flex container--has-no-padding-y">
    <div class="hero {{ with .class }}{{ . }}{{ end }}">
      {{ with .title }}<h1 class="hero__title">{{ . }}</h1>{{ end }}
      {{ with .subtitle }}
        <h2 class="hero__subtitle h2--thin">
          {{ . }}
          {{ with $.link }}
          {{ . | markdownify }}
          {{ end }}
        </h2>
      {{ end }}
    </div>
  </div>
</div>
