
<div class="container container__wide container__hasNoPaddingY" id="how-it-works">
  <div class="containter__1110 container__flex container__hasNoPaddingX">
    <h2 class="text__center">{{ i18n "how_it_works.title" }}</h2>
  </div>
  <div class="containter__1110 container__flex container__hasNoPaddingX">
    <div class="column column__50">
      <h3>{{ i18n "how_it_works.step1.title" }}</h3>
      <p class="mt__M h3 h3__light">{{ i18n "how_it_works.step1.subtitle" }}</p>
    </div>
    <div class="column column__50 column__alignXright">
      <div class="step1">
        <img src="{{ (resources.Get "/images/how-it-works/step-1.png").RelPermalink }}" />
      </div>
    </div>
  </div>
</div>
<div class="container container__wide container__hasNoPaddingY" id="archival">
  <div class="containter__1110 container__flex container__hasNoPaddingX">
    <div class="column column__50">
      <h3>{{ i18n "how_it_works.step2.title" }}</h3>
      <p class="mt__M h3 h3__light">{{ i18n "how_it_works.step2.subtitle" }}</p>
    </div>
    <div class="column column__50 column__alignXright">
      <div class="step2">
        <img src="{{ (resources.Get "/images/how-it-works/step-2.png").RelPermalink }}" />
      </div>
    </div>
  </div>
</div>
<div class="container container__wide container__hasNoPaddingY" id="detection">
  <div class="containter__1110 container__flex container__hasNoPaddingX">
    <div class="column column__50">
      <h3>{{ i18n "how_it_works.step3.title" }}</h3>
      <p class="mt__M h3 h3__light">{{ i18n "how_it_works.step3.subtitle" }}</p>
    </div>
    <div class="column column__50 column__alignXright">
      <div class="step3">
        <img src="{{ (resources.Get "/images/how-it-works/step-3.png").RelPermalink }}" />
      </div>
    </div>
  </div>
</div>
<div class="container container__wide container__hasNoPaddingTop" id="publishing">
  <div class="containter__1110 container__flex container__hasNoPaddingX">
    <div class="column column__50">
      <h3>{{ i18n "how_it_works.step4.title" }}</h3>
      <p class="mt__M h3 h3__light">{{ i18n "how_it_works.step4.subtitle" }}</p>
    </div>
    <div class="column column__50 column__alignXright column__alignYcenter">
      <div class="step4">
        <img src="{{ (resources.Get "/images/how-it-works/step-4.png").RelPermalink }}" />
      </div>
    </div>
  </div>
</div>
