{{ $staffNamesLowerByType := dict }}
{{ range $staffType, $staffMembers := site.Data.staff }}
  {{ $staffNamesLower := slice }}
  {{ range $staffMembers }}{{ $staffNamesLower = $staffNamesLower | append (. | lower) }}{{ end }}
  {{ $staffNamesLowerByType = merge $staffNamesLowerByType (dict $staffType $staffNamesLower) }}
{{ end }}

{{ $contributors := dict }}
{{ range (resources.Get site.Params.contributors.local_source | unmarshal).contributors }}
  {{ $contributorNameLower := .name | lower }}
  {{ $contributorData := . }}
  {{ $contributorData = merge $contributorData (dict "staff" nil) }}
  {{ range $staffType, $staffNamesLower := $staffNamesLowerByType }}
    {{ if in $staffNamesLower $contributorNameLower }}
      {{ $contributorData = merge $contributorData (dict "staff" $staffType) }}
    {{ end }}
  {{ end }}
  {{ $contributors = $contributors | merge (dict $contributorNameLower $contributorData) }}
{{ end }}

{{ $additionalSources := site.Params.contributors.additional_sources }}
{{ range site.Data.collections }}
  {{ $declarationsPath := printf "%s/main/.all-contributorsrc" (replace .declarations "https://github.com" "https://raw.githubusercontent.com") }}
  {{ $additionalSources = $additionalSources | append $declarationsPath }}
{{ end }}

{{ range $additionalSource := $additionalSources }}
  {{ with try (resources.GetRemote $additionalSource) }}
    {{ with .Err }}
      {{ errorf "%s" . }}
    {{ else with .Value }}
      {{ $repository := (.Content | unmarshal).projectName }}
      {{ range (.Content | unmarshal).contributors }}
        {{ $contributorNameLower := .name | lower }}
        {{ $contributorData := dict
          "repositories" (slice ($repository | lower))
          "avatar_url" .avatar_url
          "contributions" .contributions
          "login" .login
          "name" .name
          "profile" .profile
          "staff" nil
        }}

        {{ if isset $contributors $contributorNameLower }}
          {{ $existingContributor := index $contributors $contributorNameLower }}
          {{ $contributorData = merge $contributorData (dict "repositories" (union $existingContributor.repositories $contributorData.repositories)) }}
        {{ end }}

        {{ range $staffType, $staffNamesLower := $staffNamesLowerByType }}
          {{ if in $staffNamesLower $contributorNameLower }}
            {{ $contributorData = merge $contributorData (dict "staff" $staffType) }}
          {{ end }}
        {{ end }}

        {{ $contributors = merge $contributors (dict $contributorNameLower $contributorData) }}

      {{ end }}
    {{ else }}
      {{ warnf "Unable to get the remote contributors from %q" . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $contributors }}
