{{ $contributors := dict }}
{{ range (resources.Get site.Params.contributors.local_source | unmarshal).contributors }}
  {{ $contributors = $contributors | merge (dict .name .) }}
{{ end }}

{{ $additionalSources := site.Params.contributors.additional_sources }}
{{ range site.Data.collections }}
  {{ $declarationsPath := printf "%s/main/.all-contributorsrc" (replace .declarations "https://github.com" "https://raw.githubusercontent.com") }}
  {{ $additionalSources = $additionalSources | append $declarationsPath }}
{{ end }}

{{ range $additionalSource := $additionalSources }}
  {{ with try (resources.GetRemote $additionalSource) }}
    {{ with .Err }}
      {{ errorf "%s" . }}
    {{ else with .Value }}
      {{ $repository := (.Content | unmarshal).projectName }}
      {{ range (.Content | unmarshal).contributors }}
        {{ $contributorName := .name }}
        {{ $contributorData := dict
          "repositories" (slice ($repository | lower))
          "avatar_url" .avatar_url
          "contributions" .contributions
          "login" .login
          "name" $contributorName
          "profile" .profile
          "staff" nil
        }}

        {{ if isset $contributors $contributorName }}
          {{ $existingContributor := index $contributors $contributorName }}
          {{ $contributorData = merge $contributorData (dict "repositories" (union $existingContributor.repositories $contributorData.repositories)) }}
        {{ end }}

        {{ range $staffType, $staffMembers := site.Data.staff }}
          {{ if in $staffMembers $contributorName }}
            {{ $existingContributor := index $contributors $contributorName }}
            {{ $contributorData = merge $contributorData (dict "staff" $staffType) }}
          {{ end }}
        {{ end }}

        {{ $contributors = merge $contributors (dict $contributorName $contributorData) }}

      {{ end }}
    {{ else }}
      {{ warnf "Unable to get the remote contributors from %q" . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $contributors }}
