{{ $contributors := dict }}
{{ range (resources.Get site.Params.contributors.local_source | unmarshal).contributors }}
  {{ $contributors = $contributors | merge (dict .name .) }}
{{ end }}

{{ $additionalSources := site.Params.contributors.additional_sources }}
{{ range site.Data.collections }}
  {{ $additionalSources = $additionalSources | append (printf "https://raw.githubusercontent.com/OpenTermsArchive/%s-declarations/main/.all-contributorsrc" .id) }}
{{ end }}

{{ range $additionalSource := $additionalSources }}
  {{ with resources.GetRemote $additionalSource }}
    {{ with .Err }}
      {{ errorf "%s" . }}
    {{ else }}
      {{ range (.Content | unmarshal).contributors }}
        {{ $contributors = $contributors | merge (dict .name .) }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ warnf "Unable to get the remote contributors from %q" . }}
  {{ end }}
{{ end }}

{{ return $contributors }}
