{{ $template := default "single" .template }}
{{ $title := .memo.Title }}

<article class="memo{{ with .class }} {{ . }}{{ end }}">
  <header>
    {{ if eq $template "list" }}<h4 class="memo__title">
<a href="{{ .memo.RelPermalink }}">{{ $title }}</a>
</h4>{{ end }}
    {{ if eq $template "single" }}<h1 class="memo__title">{{ $title }}</h1>{{ end }}

    {{ if eq $template "list" }}<h6 class="memo__subtitle h6--ultrathin">{{ end }}
    {{ if eq $template "single" }}<h4 class="memo__subtitle h4--ultrathin">{{ end }}
      {{ if reflect.IsSlice .memo.Params.service }}
        {{ delimit .memo.Params.service ", " }}
      {{ else }}
        {{ .memo.Params.service }}
      {{ end }} ▪
      {{ delimit .memo.Params.terms_types ", " }} ▪
      {{ $formatedDates := slice }}
      {{ range .memo.Params.dates }}
        {{ $formatedDate := ( . | time.Format ":date_long") }}
        {{ $formatedDates = $formatedDates | append $formatedDate }}
      {{ end }}
      {{ delimit $formatedDates " - " }}
    {{ if eq $template "list" }}</h6>{{ end }}
    {{ if eq $template "single" }}</h4>{{ end }}

    {{ if eq $template "single" }}
      {{ $contributors := site.Data.contributors }}
      {{ with .memo.Params.author }}
        {{ $authors := cond (reflect.IsSlice .) . (slice .) }}
        {{ $authorInfos := slice }}
        {{ range $authorName := $authors }}
          {{ with index $contributors ($authorName | lower) }}
            {{ $isTeamMember := partial "func/isTeamMember.html" .name }}
            {{ $authorInfos = $authorInfos | append (dict "name" (.name | title) "profile" .profile "isTeamMember" $isTeamMember) }}
          {{ else }}
            {{ warnf "Author %s of the memo %s not found in contributors" $authorName $title }}
          {{ end }}
        {{ end }}
        {{ if gt (len $authorInfos) 0 }}
          {{ $firstAuthor := index $authorInfos 0 }}
          {{ $authorLinks := slice }}
          {{ range $author := $authorInfos }}
            {{ $authorLinks = $authorLinks | append (printf "<a href=\"%s\" target=\"_blank\" rel=\"noopener\">%s</a>" $author.profile $author.name) }}
          {{ end }}
          <div class="memo__author text--light fontstyle--italic">
            {{ if eq (len $authorLinks) 1 }}
              {{ i18n "memos.author" (dict "name" (index $authorLinks 0) "isTeamMember" $firstAuthor.isTeamMember) | safeHTML }}
            {{ else }}
              {{ $names := delimit $authorLinks ", " (printf " %s " (i18n "memos.authors_last_separator")) }}
              {{ i18n "memos.authors" (dict "names" $names) | safeHTML }}
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
</header>

  {{ if eq $template "single" }}
    <div class="memo__content textcontent">
      {{ .memo.Content }}
    </div>
  {{ end }}
</article>
