{{ $template := default "single" .template }}
{{ $title := .memo.Title }}

<article class="memo{{ with .class }} {{ . }}{{ end }}">
  <header>
    {{ if eq $template "list" }}<h4 class="memo__title">
<a href="{{ .memo.RelPermalink }}">{{ $title }}</a>
</h4>{{ end }}
    {{ if eq $template "single" }}<h1 class="memo__title">{{ $title }}</h1>{{ end }}

    {{ if eq $template "list" }}<h6 class="memo__subtitle h6--ultrathin">{{ end }}
    {{ if eq $template "single" }}<h4 class="memo__subtitle h4--ultrathin">{{ end }}
      {{ if reflect.IsSlice .memo.Params.service }}
        {{ delimit .memo.Params.service ", " }}
      {{ else }}
        {{ .memo.Params.service }}
      {{ end }} ▪
      {{ delimit .memo.Params.terms_types ", " }} ▪
      {{ $formatedDates := slice }}
      {{ range .memo.Params.dates }}
        {{ $formatedDate := ( . | time.Format ":date_long") }}
        {{ $formatedDates = $formatedDates | append $formatedDate }}
      {{ end }}
      {{ delimit $formatedDates " - " }}
    {{ if eq $template "list" }}</h6>{{ end }}
    {{ if eq $template "single" }}</h4>{{ end }}

    {{ if eq $template "single" }}
      {{ $contributors := partial "load_contributors.html" . }}
      {{ with .memo.Params.author }}
        {{ with index $contributors . }}
          <div class="memo__author text--light fontstyle--italic">
            {{ $isTeamMember := partial "func/isTeamMember.html" .name }}
            {{ i18n "memos.author" (dict "profile" .profile "name" (.name | title) "isTeamMember" $isTeamMember) | safeHTML }}
          </div>
        {{ else }}
          {{ warnf "Author %s of the memo %s not found in contributors" . $title }}
        {{ end }}
      {{ end }}
    {{ end }}
</header>

  {{ if eq $template "single" }}
    <div class="memo__content textcontent">
      {{ .memo.Content }}
    </div>
  {{ end }}
</article>
