<div class="container container--wide container--is-dark container--has-no-padding-y" id="newsletter">
  <div class="container container--98 container--flex">
    <div class="column column--40 column--align-x-center column--align-y-center">
      <div class="column__desc">
        <i class="icon icon--gray icon--size-inherit" data-lucide="mail" stroke-width="1" width="188" height="188"></i>
      </div>
    </div>
    <div class="column column--60">
      <div class="column__header">
        <h3 class="column__subtitle h3--light">{{ i18n "product_newsletter.title" }}</h3>
      </div>
      <div class="column__desc">
        <div class="textcontent textcontent--has-no-margin-top">
          <p class="mt--m">{{ i18n "product_newsletter.subtitle" }}</p>
          <form id="sib-form" method="POST" action="{{ i18n "product_newsletter.form.action" }}" data-type="subscription">
            <div class="formfield mb--l">
              <input type="email" id="email" name="EMAIL" autoComplete="email" placeholder="{{ i18n "product_newsletter.form.email_placeholder" }}" required>
            </div>
            <div class="formfield formfield--align-right">
              <button class="button" form="sib-form" type="submit">
                {{ i18n "product_newsletter.form.button" }}
              </button>
              <input type="hidden" name="locale" value="{{ site.Language.Lang }}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
