{{ $size := default "87" .size }}
{{ $allCollectionsIDs := slice }}
{{ range site.Data.collections }}
  {{ $allCollectionsIDs = $allCollectionsIDs | append (index . "id") }}
{{ end }}

{{ range $.relatedCollectionsIDs }}
  {{ if not (in $allCollectionsIDs .) }}
    {{ warnf "Related collection %q not found" . }}
  {{ end }}
{{ end }}

{{ $matchingCollections := slice }}
{{ range where site.RegularPages "Section" "collections" }}
  {{ if in $.relatedCollectionsIDs .Params.id }}
    {{ $matchingCollections = $matchingCollections | append . }}
  {{ end }}
{{ end }}

{{ if $matchingCollections }}
  <div class="container {{ $.class }}" id="related-collections-{{ .Params.id }}">
    <div class="container container--{{ $size }} container--has-no-padding-y">
      <div class="collections cardlist">
        <div class="cardlist__header">
          <h3 class="cardlist__title">{{ i18n "impact.related_collections" }}</h3>
        </div>
        <div class="cardlist__items">
          {{ range $matchingCollections }}
            {{ partial "collection-card.html" (dict "context" .) }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
