{{ $size := default "87" .size }}

<div class="container {{ .class }}" id="related-collections">
  <div class="container container--{{ $size }} container--has-no-padding-y">
    <div class="collections cardlist">
      <div class="cardlist__header">
        <h3 class="cardlist__title">{{ i18n "impact.related_collections" }}</h3>
      </div>
      <div class="cardlist__items">

        {{ $collectionsIDs := slice }}
        {{ range site.Data.collections }}
          {{ $collectionsIDs = $collectionsIDs | append (index . "id") }}
        {{ end }}

        {{ range $.relatedCollectionsIDs }}
          {{ if not (in $collectionsIDs .) }}
            {{ warnf "Reladed collection %q not found" . }}
          {{ end }}
        {{ end }}

        {{ range where site.RegularPages "Section" "collections" }}
          {{ if (in $.relatedCollectionsIDs .Params.id) }}
            {{ partial "collection-card.html" . }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
