{{ $relatedTo := default "all" .relatedTo }}

{{ if .reuses }}
  <div class="reuses container container--wide container--has-no-padding-x {{ with .class }}{{ . }}{{ end }}" id="{{ i18n "reuses" | urlize }}">
    <div class="container container--1211 {{ if ne $relatedTo "all" }}container--has-no-padding-y{{ end }}">
      <div class="collections cardlist">
        {{ if or .title .subtitle }}
          <div class="cardlist__header">
            {{ with .title }}
              {{ if ne $relatedTo "all" }}
                <h3>{{ . }}</h3>
              {{ else }}
                <h2 class="cardlist__title">{{ . }}</h2>
              {{ end }}
            {{ end }}
            {{ with .subtitle }}
              {{ if ne $relatedTo "all" }}
                <h5 class="h5--light mt--m mb--xl">{{ . }}</h5>
              {{ else }}
                <h3 class="cardlist__subtitle h3--light">{{ . }}</h3>
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
        <div class="cardlist__items">
          {{ range .reuses }}
            {{ partial "reuse.html" . }}
          {{ end }}
          {{ if eq $relatedTo "all" }}
            {{ partial "new-reuse.html" .context }}
          {{ end }}
        </div>
      </div>
      {{ if ne $relatedTo "all" }}
        {{ $reusesRelRef := printf "%s#%s" (relref .context "/") (i18n "reuses" | urlize) }}
        <div class="collection__reuses-cta">
          <a class="button button--secondary" href="{{ $reusesRelRef }}">{{ i18n "collections.cta.reuses" }}</a>
        </div>
      {{ end}}
    </div>
  </div>
{{ end }}
