{{ $reuses := partial "func/getReuses.html" . }}

{{ if $reuses }}
  <div class="reuses container container--wide container--has-no-padding-x {{ with .class }}{{ . }}{{ end }}" id="{{ i18n "reuses" | urlize }}">
    <div class="container container--1211">
      <div class="collections cardlist">
        {{ if or .title .subtitle }}
          <div class="cardlist__header">
            {{ with .title }}
              <h2 class="cardlist__title">{{ . }}</h2>
            {{ end }}
            {{ with .subtitle }}
              <h3 class="cardlist__subtitle h3--thin">{{ . }}</h3>
            {{ end }}
          </div>
        {{ end }}
        <div class="cardlist__items">
          {{ range $reuses }}
            {{ partial "reuse.html" (dict "context" .) }}
          {{ end }}
          {{ partial "new-reuse.html" .context }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
