{{ .EnableAllLanguages }}
{{ $weight := 1 }}
{{ range site.Data.collections }}
  {{ $params := dict "name" .name "id" .id "languages" .languages "jurisdictions" .jurisdictions "maintainers" .maintainers "stats" .stats "industries" .industries "endpoint" .endpoint "tracking" .tracking }}
  {{ $page := dict
    "params" $params
    "path" .name
    "title" .name
    "slug" .id
    "weight" $weight
  }}
  {{ $.AddPage $page }}
  {{ $weight = add $weight 1 }}
{{ end }}
