.table {
  width: 100%;
  th {
    &.react-table--sorted-down {
      &:after {
        content: '👇';
      }
    }
    &.react-table--sorted-up {
      &:after {
        content: '👆';
      }
    }
  }
}
.caption {
  display: flex !important;
  justify-content: space-between;
}
