@import '../styles/mixins.css';

.container {
  margin: 0 auto;
  @mixin grid 12, 11;

  @media (--gridPlus) {
    padding-left: var(--pM);
    padding-right: var(--pM);
  }

  &__fluid {
    padding-left: var(--pM);
    padding-right: var(--pM);
    max-width: 100%;
  }
}
