@import '../styles/mixins.css';

.container {
  margin: 0 auto;

  @media (--gridPlus) {
    padding-left: var(--pL);
    padding-right: var(--pL);
  }

  &__1211 {
    @mixin grid 12, 11;
  }

  &__1110 {
    @mixin grid 11, 10;
  }

  &__1011 {
    @mixin grid 10, 11;
  }

  &__109 {
    @mixin grid 10, 9;
  }

  &__98 {
    @mixin grid 9, 8;
  }

  &__87 {
    @mixin grid 8, 7;
  }

  &__76 {
    @mixin grid 7, 6;
  }

  &__65 {
    @mixin grid 6, 5;
  }

  &__54 {
    @mixin grid 5, 4;
  }

  &__43 {
    @mixin grid 4, 3;
  }

  &__32 {
    @mixin grid 3, 2;
  }

  &__21 {
    @mixin grid 2, 1;
  }

  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media (--tabletSmall) {
      flex-direction: column;
    }
  }

  &__fluid {
    padding-left: var(--pL);
    padding-right: var(--pL);
    max-width: 100%;
  }

  &__wide {
    max-width: var(--desktopWide);
    margin: 0 auto;
  }

  &__hasBgImage {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__hasNoPadding {
    padding: 0;
  }
}
