.footer {
  width: 100%;
  padding: 0 0 var(--pL) 0;
}
.version {
  color: var(--colorBlack400);
  font-size: 0.8em;
  text-align: right;
  font-style: italic;
}

@media (--tabletLarge) {
  .footer {
    text-align: center;
  }
}

.footer_menus {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: var(--m2XS);

  & div {
    &:first-child {
      margin-right: var(--gridGutterWidth);
    }
    & ul {
      display: flex;
      flex-direction: row;

      & li {
        margin: 0 var(--mXS);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        & a {
          color: var(--colorBlack600);
        }
      }

      & + ul {
        margin-top: 1rem;
      }
    }
  }
}

@media (--tabletLarge) {
  .footer_menus {
    justify-content: center;
    align-items: flex-start;

    & div {
      margin: var(--gridGutterWidth) var(--gridColWidth) 0 var(--gridColWidth);

      &:first-child {
        margin-right: 0;
      }

      & ul {
        flex-direction: column;

        & li {
          text-align: left;
          margin: var(--mXS);

          &:first-child {
            margin-top: 0;
          }

          &:first-child {
            margin-left: var(--mXS);
          }

          &:last-child {
            margin-right: var(--mXS);
          }
        }

        & + ul {
          flex-direction: column;
        }
      }
    }
  }
}

@media (--mobileExtraLarge) {
  .footer_menus {
    justify-content: flex-start;
    flex-wrap: wrap;
    & div {
      width: 100%;
      margin: var(--gridGutterWidth) 0 0 0;

      & ul {
        & li {
          text-align: center;
        }
      }
    }
  }
}
