@import '../styles/mixins';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--pL);
  padding-bottom: var(--pL);
  position: relative;

  /*   &.__isOpen {
    & > .header_menus {
      transition: 0.5s all easeOutCirc;
      transform: translateX(0);
    }

    & > .header_openLink {
      display: none;
    }

    & > .header_closeLink {
      display: inline-flex;
    }
  } */

  @media (--gridPlus) {
    background-color: yellow;
    padding-left: var(--pL);
    padding-right: var(--pL);
  }

  @media (--tabletLarge) {
    background-color: red;
    margin-top: 500px;
  }
}
