@import '../styles/mixins.css';

.container{
  max-width:100%;
}

.wrapper{
  margin: 0 auto;
  @mixin grid 12,11;
  @mixin debug;

  @media (--gridPlus) {
    border:1px solid black;
		padding-left: var(--pM);
		padding-right: var(--pM);
	}
}
