{{ define "main" }}

  {{ partial "hero.html" (dict "title" (.Title | safeHTML) "size" "98") }}

  {{ if gt (len .Pages) 0 }}
    <div class="container container--has-no-padding-y container--is-gray">
      <div class="container container--has-padding-top-medium container--98">
        <div class="textcontent">
          <h2>{{ i18n "publications.title" }}</h2>
          <h3 class="h4">{{ i18n "publications.subtitle" }}</h3>
          {{ i18n "publications.desc" | markdownify }}
        </div>

        <div class="mt--xl">
          {{ range .Pages }}
            {{ partial "publication.html" (dict "publication" . "template" "list" "class" "mb--xl") }}
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}

  {{ partial "featured-memos.html" . }}

{{ end }}
