{{ define "main" }}
  <div class="container container--87 container--has-no-padding-bottom">
    <div class="textcontent">
      <h1>{{ .Title }}</h1>
      <div>{{ .Content }}</div>
    </div>
  </div>
  
  {{ with .Params.related_collections }}
    {{ partial "related-collections.html" (dict "relatedCollectionsIDs" . "linksTo" (slice "version") )}}
  {{ end }}

  <div class="container container--wide container--has-no-padding-y">
    <div class="container container--87">
      <div class="textcontent">
        <hr >
        <p class="color--light fontstyle--italic">
          {{ i18n "impact.reminder" }}
          <a href="{{ .RelRef (dict "path" "/impact") }}">{{ i18n "impact.link" }}</a>
        </p>
      </div>
    </div>
  </div>
{{ end }}
