{{ define "main" }}
  {{ $currentCollectionID := .Params.id }}
  {{ $name := .Params.name }}
  {{ $tagline := default .Params.tagline (index .Params.i18n site.Language.Lang "tagline") }}
  {{ $description := default .Params.description (index .Params.i18n site.Language.Lang "description") }}
  {{ $donations := default (.Param "opencollective.url") .Params.donations }}
  {{ $contributionToolURL := printf "%s?destination=OpenTermsArchive/%s-declarations" (.Param "contribution_tool.url") .Params.id }}
  {{ $issues := printf "%s/issues" .Params.declarations }}
  {{ $isGraySectionIndex := 0 }}
  {{ $collectionLogo := partial "func/getLogo.html" (dict "logoUrl" .Params.logo "name" $name "type" "collections") }}
  {{ $collectionLogo2x := partial "func/getLogo.html" (dict "logoUrl" .Params.logo "name" $name "type" "collections" "size" "2x") }}
  {{ with $collectionLogo.error }}{{ warnf . }}{{ end }}
  {{ with $collectionLogo2x.error }}{{ warnf . }}{{ end }}
  {{ $governance := .Params.governance }}
  {{ $i18n := .Params.i18n }}
  {{ $languages := .Params.languages }}
  {{ $allEuLanguages := slice "bg" "cs" "da" "de" "el" "en" "es" "et" "fi" "fr" "ga" "hr" "hu" "it" "lt" "lv" "mt" "nl" "pl" "pt" "ro" "sk" "sl" "sv" }}
  {{ $nonEuCollectionLanguages := symdiff $languages $allEuLanguages }}
  {{ $isOnlyEuLanguages := eq (len $nonEuCollectionLanguages) 0 }}
  {{ $displayLanguages := slice }}

  <div class="collection">
    <div class="container container--wide container--has-no-padding-y">
      <div class="collection__header container container--1211 container--has-no-padding-x">
        {{ with $collectionLogo.resource }}
          {{ $logo := . }}
          <div class="collection__header-image">
            <img
              src="{{ $logo.RelPermalink }}"
              {{ with $collectionLogo2x.resource }}
                {{ $logo2x := . }}
                srcset="{{ $logo.RelPermalink }} 1x, {{ $logo2x.RelPermalink }} 2x"
              {{ end }}
              alt="{{ $name }}"
            >
          </div>
        {{ end }}
        <div class="collection__header-content">
          <div class="collection__header-infos">
            <h1>{{ $name }}</h1>
            {{ with $tagline }}<h2 class="h3 h3--ultrathin">{{ . | safeHTML }}</h2>{{ end }}
          </div>
          <ul class="collection__header-actions">
            {{ with .Params.versions }}
              <li>
                <a class="button button--secondary" href="{{ . }}" target="_blank" rel="noopener">
                  {{ i18n "collections.cta.browse" }}
                  <i class="icon ml--2xs" data-lucide="search"></i>
                </a>
              </li>
            {{ end }}
            {{ with .Params.dataset }}
              <li>
                <a class="button button--secondary" href="{{ . }}" target="_blank" rel="noopener">
                {{ i18n "collections.cta.download" }}
                <i class="icon ml--2xs" data-lucide="download"></i>
                </a>
              </li>
            {{ end }}
            {{ with .Params.endpoint }}
              {{ $endpointDocs := printf "%sdocs" . }}
              <li>
                <a class="button button--secondary" href="{{ $endpointDocs }}" target="_blank" rel="noopener">
                  {{ i18n "collections.cta.endpoint" }}
                  <i class="icon ml--2xs" data-lucide="wrench"></i>
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>

    <div class="container container--wide container--has-no-padding-y {{ if modBool $isGraySectionIndex 2 }}container--is-gray{{ end }}">
      <div class="collection__metadata container container--1211 container--has-no-padding-x">
        <div class="collection__metadata-desc">
          {{ default (i18n "collections.metadata.placeholder" | safeHTML) ($description | markdownify) }}
        </div>
        <div class="collection__metadata-items">
          {{ with .Params.totalServices }}
            {{ partial "collection-metadata-item.html" (dict "title" (i18n "collections.metadata.services") "icon" "folder" "desc" .) }}
          {{ end }}
          {{ with .Params.totalTerms }}
            {{ partial "collection-metadata-item.html" (dict "title" (i18n "collections.metadata.documents") "icon" "file" "desc" .) }}
          {{ end }}
          {{ with $languages }}
            {{ if $isOnlyEuLanguages }}
              {{ $displayLanguages = $displayLanguages | append (i18n "collections.metadata.language_europe") }}
              {{ $languages = slice }}
            {{ end }}
            {{ range $languages }}
              {{ $displayLanguages = $displayLanguages | append (index site.Data.display_names.languages site.Language.LanguageCode .) }}
            {{ end }}
            {{ partial "collection-metadata-item.html" (dict "title" (i18n "collections.metadata.language" (len $displayLanguages)) "icon" "message-circle" "desc" (delimit $displayLanguages ", ")) }}
          {{ end }}
          {{ with .Params.jurisdictions }}
            {{ $jurisdictions := slice }}
            {{ range . }}
              {{ $jurisdictions = $jurisdictions | append (index site.Data.display_names.regions site.Language.LanguageCode .) }}
            {{ end }}
            {{ partial "collection-metadata-item.html" (dict "title" (i18n "collections.metadata.jurisdiction" (len $jurisdictions)) "icon" "map" "desc" (delimit $jurisdictions ", ")) }}
          {{ end }}
          {{ with .Params.trackingPeriods }}
            {{ $currentTracking := . }}
            {{ if reflect.IsSlice . }}{{ $currentTracking = index (last 1 .) 0 }}{{ end }}
            {{ with $currentTracking.startDate }}
              {{ $formatedDate := ( . | time.Format ":date_long") }}
              {{ partial "collection-metadata-item.html" (dict "title" (i18n "collections.metadata.start_date") "icon" "power" "desc" $formatedDate) }}
            {{ end }}
            {{ with $currentTracking.endDate }}
              {{ $formatedDate := ( . | time.Format ":date_long") }}
              {{ partial "collection-metadata-item.html" (dict "title" (i18n "collections.metadata.end_date") "icon" "power-off" "desc" $formatedDate) }}
            {{ end }}
            {{ with $currentTracking.serverLocation }}
              {{ $location := split . "," }}
              {{ $city := trim (index $location 0) " " }}
              {{ $countryCode := trim (index $location 1) " " }}
              {{ $countryName := index site.Data.display_names.regions site.Language.LanguageCode $countryCode }}
              {{ $fullLocation := printf "%s, %s" $city $countryName }}
              {{ partial "collection-metadata-item.html" (dict "title" (i18n "collections.metadata.server_location") "icon" "map-pin" "desc" $fullLocation) }}
            {{ end }}
            {{ with $currentTracking.schedule }}
              {{ $cronKey := printf "collections.metadata.cron.%s" . }}
              {{ $cronExpression := i18n $cronKey . }}
              {{ partial "collection-metadata-item.html" (dict "title" (i18n "collections.metadata.schedule") "icon" "clock" "desc" $cronExpression) }}
            {{ end }}
          {{ end }}
          {{ with .Params.uptimeRatio }}
            {{ $uptimePercent := print (math.Round .) "%" }}
            {{ partial "collection-metadata-item.html" (dict "title" (i18n "collections.metadata.uptime_ratio") "icon" "activity" "desc" $uptimePercent) }}
          {{ end }}
        </div>
      </div>
    </div>
    {{ $isGraySectionIndex = add $isGraySectionIndex 1 }}

    <div class="container container--wide container--has-no-padding-y {{ if modBool $isGraySectionIndex 2 }}container--is-gray{{ end }}">
      <div class="collection__contribute container container--1211 container--has-no-padding-x">
        <h3>{{ i18n "collections.contribute.title" }}</h3>
        <h5 class="h5--thin mt--m">{{ i18n "collections.contribute.subtitle" }}</h5>
        <div class="collection__contribute-items">
          <div class="collection__contribute-item">
            <div class="icon__circle-wrapper icon__circle-wrapper--big icon__circle-wrapper--graylight">
              <i class="icon icon--primary icon--big icon--stroke-thin" data-lucide="hand-heart"></i>
            </div>
            <h4 class="h4--ultrathin">{{ i18n "collections.contribute.donate" }}</h4>
            <a class="contribute__item-link" href="{{ $donations }}" target="_blank" rel="noopener" aria-label="{{ i18n "collections.contribute.donate" }}"></a>
          </div>
          <div class="collection__contribute-item">
            <div class="icon__circle-wrapper icon__circle-wrapper--big icon__circle-wrapper--graylight">
              <i class="icon icon--primary icon--big icon--stroke-thin" data-lucide="square-pen"></i>
            </div>
            <h4 class="h4--ultrathin">{{ i18n "collections.contribute.publish" }}</h4>
            <a class="contribute__item-link" href="{{ .Param "memos.how_to_publish.url" }}" target="_blank" rel="noopener" aria-label="{{ i18n "collections.contribute.publish" }}"></a>
          </div>
          <div class="collection__contribute-item">
            <div class="icon__circle-wrapper icon__circle-wrapper--big icon__circle-wrapper--graylight">
              <i class="icon icon--primary icon--big icon--stroke-thin" data-lucide="file-plus"></i>
            </div>
            <h4 class="h4--ultrathin">{{ i18n "collections.contribute.track" }}</h4>
            <a class="contribute__item-link" href="{{ $contributionToolURL }}" target="_blank" rel="noopener" aria-label="{{ i18n "collections.contribute.track" }}"></a>
          </div>
          <div class="collection__contribute-item">
            <div class="icon__circle-wrapper icon__circle-wrapper--big icon__circle-wrapper--graylight">
              <i class="icon icon--primary icon--big icon--stroke-thin" data-lucide="file-warning"></i>
            </div>
            <h4 class="h4--ultrathin">{{ i18n "collections.contribute.restore" }}</h4>
            <a class="contribute__item-link" href="{{ $issues }}" target="_blank" rel="noopener" aria-label="{{ i18n "collections.contribute.restore" }}"></a>
          </div>
          <div class="collection__contribute-item">
            <div class="icon__circle-wrapper icon__circle-wrapper--big icon__circle-wrapper--graylight">
              <i class="icon icon--primary icon--big icon--stroke-thin" data-lucide="megaphone"></i>
            </div>
            <h4 class="h4--ultrathin">{{ i18n "collections.contribute.promote" }}</h4>
            <a class="contribute__item-link" href="https://mastodon.social/share?url={{ .Permalink }}" target="_blank" rel="noopener" aria-label="{{ i18n "collections.contribute.promote" }}"></a>
          </div>
        </div>
      </div>
    </div>
    {{ $isGraySectionIndex = add $isGraySectionIndex 1 }}

    {{ $memosRelRef := relref . "/memos" }}
    {{ $memos := where .Site.RegularPages "Type" "memos" }}
    {{ $filteredMemos := slice }}

    {{/* Get memos related to the current collection and add a date parameter to each memos, which takes the first date in the list of dates */}}
    {{ range $memos }}
      {{ if in .Params.related_collections $currentCollectionID }}
        {{ $firstDate := (index .Params.dates 0) | time }}
        {{ $filteredMemos = $filteredMemos | append (dict "date" $firstDate "page" .) }}
      {{ end }}
    {{ end }}

    {{/* Sort memos by date and get the first 3 */}}
    {{ $sortedMemos := sort $filteredMemos "date" "desc" }}
    {{ $latestMemos := first 3 $sortedMemos }}

    {{ with $latestMemos }}
      <div class="container container--wide container--has-no-padding-y {{ if modBool $isGraySectionIndex 2 }}container--is-gray{{ end }}">
        <div class="collection__memos container container--1211 container--has-no-padding-x">
          <h3>{{ i18n "collections.memos.title" }}</h3>
          <h5 class="h5--thin mt--m">{{ i18n "collections.memos.subtitle" }}</h5>
          <div class="collection__memos-items">
            {{ range . }}
              {{ partial "memo.html" (dict "memo" .page "template" "list" "class" "collection__memos-item") }}
            {{ end }}
          </div>
          <div class="collection__memos-cta">
            <a class="button button--secondary" href="{{ $memosRelRef }}">{{ i18n "collections.memos.cta" }}</a>
          </div>
        </div>
      </div>
      {{ $isGraySectionIndex = add $isGraySectionIndex 1 }}
    {{ end }}

    {{ $reuses := partial "func/getReuses.html" . }}
    {{ $relatedReuses := where $reuses "data.related_collections" "intersect" (slice $currentCollectionID) }}
    {{ $reusesRelRef := printf "%s#%s" (relref . "/") (i18n "reuses" | urlize) }}
    {{ with $relatedReuses }}
      <div class="container container--wide container--has-no-padding-y {{ if modBool $isGraySectionIndex 2 }}container--is-gray{{ end }}">
        <div class="collection__reuses container container--1211 container--has-no-padding-x">
          <h3>{{ i18n "collections.reuses.title" }}</h3>
          <h5 class="h5--thin mt--m">{{ i18n "collections.reuses.subtitle" }}</h5>
          <div class="collection__reuses-items">
            {{ range . }}
              {{ partial "reuse.html" (dict "class" "collection__reuses-item" "context" . ) }}
            {{ end }}
          </div>
          <div class="collection__reuses-cta">
            <a class="button button--secondary" href="{{ $reusesRelRef }}">{{ i18n "collections.cta.reuses" }}</a>
          </div>
        </div>
      </div>
      {{ $isGraySectionIndex = add $isGraySectionIndex 1 }}
    {{ end }}

    <div class="container container--wide container--has-no-padding-y {{ if modBool $isGraySectionIndex 2 }}container--is-gray{{ end }}">
      <div class="collection__governance container container--1211 container--has-no-padding-x">
        <h3>{{ i18n "collections.governance.title" }}</h3>
        <h5 class="h5--thin mt--m">{{ i18n "collections.governance.subtitle" }}</h5>
        <div class="governance__items">
          {{ range $governance }}
            {{ $entityName := default .name (index $i18n site.Language.Lang "governance" .name "name") }}
            {{ $entityLogoUrl := default .logo (index $i18n site.Language.Lang "governance" .name "logo") }}
            {{ $entityUrl := default .url (index $i18n site.Language.Lang "governance" .name "url") }}
            {{ $entityLogo := partial "func/getLogo.html" (dict "logoUrl" $entityLogoUrl "name" $entityName) }}
            {{ with $entityLogo.error }}{{ warnf . }}{{ end }}
            <div class="governance__item">
              {{ with $entityUrl }}<a class="governance__item-link" href="{{ . }}" target="_blank" rel="noopener">{{ end }}
                <div class="governance__item-logo">
                  {{ with $entityLogo.resource }}
                    <img src="{{ .RelPermalink }}" alt="{{ $entityName }}" class="governance__item-img {{ if eq $entityLogo.remoteType "github" }}governance__item-img--github{{ end }}">
                  {{ else }}
                    <i class="icon icon--gray icon--big icon--stroke-thin" data-lucide="image"></i>
                  {{ end }}
                </div>
                <div class="governance__item-name">{{ $entityName }}</div>
              {{ with $entityUrl }}</a>{{ end }}
              {{ with .roles }}
                {{ $roles := . }}
                <div class="governance__item-type">
                 {{ range $index, $role := $roles }}
                    {{ $isLast := eq $index (sub (len $roles) 1) }}
                    {{ $translatedRole := i18n (printf "collections.governance.%s" $role) }}
                    {{ $badgeRoleClass := printf "badge--%s" ($role | lower) }}
                    <div class="badge {{ $badgeRoleClass }}">
                      {{ $translatedRole }}
                    </div>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          {{ end }}
        </div>
        {{ $collectionRepositoryID := print .Params.id "-declarations" | lower }}
        {{ partial "contributors.html" (dict "repositories" (slice $collectionRepositoryID) "showInfo" true "class" "contributors--align-x-left" "title" (i18n "collections.governance.contributors") "titleSize" "h4" ) }}
      </div>
    </div>
    {{ $isGraySectionIndex = add $isGraySectionIndex 1 }}

  </div>
{{ end }}
