{{ define "main" }}
  <div class="collection">

    <div class="container container--wide container--has-no-padding-y">
      <div class="collection__header container container--1211">
        {{ $image := resources.Get (printf "/images/collections/%s.png" (.Params.name | urlize)) }}
        {{ with $image }}
          <div class="collection__header__image">
            <img src="{{ .RelPermalink }}" alt="">
          </div>
        {{ end }}
        <div class="collection__header__content">
          <div class="collection__header__infos">
            <h1>{{ .Title }}</h1>
            {{ with .Params.industries }}<h2 class="h3 h3--ultralight">{{ index . site.Language.Lang | safeHTML }}</h2>{{ end }}
          </div>
          <ul class="collection__header__actions">
            <li>
              <a class="button" href="https://github.com/openTermsArchive/{{ $.Params.id }}-versions" target="_blank" rel="noopener">
                {{ i18n "collections.cta.browse" }}
                <i class="icon ml--2xs" data-lucide="search"></i>
              </a>
            </li>
            <li>
              <a class="button" href="https://github.com/openTermsArchive/{{ $.Params.id }}-versions/releases/latest" target="_blank" rel="noopener">
                {{ i18n "collections.cta.download" }}
                <i class="icon ml--2xs" data-lucide="download"></i>
              </a>
            </li>
            {{ with $.Params.endpoint }}
              <li>
                <a class="button" href="{{ . }}/docs" target="_blank" rel="noopener">
                  {{ i18n "collections.cta.endpoint" }}
                  <i class="icon ml--2xs" data-lucide="wrench"></i>
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>

    <div class="container container--wide container--has-no-padding-y container--is-gray">
      <div class="collection__metadatas container container--1211">
        <div class="collection__metadatas__desc">
          {{ i18n "collections.metadatas.placeholder" | safeHTML }}
        </div>
        <div class="collection__metadatas__items">
          {{ with .Params.stats.services }}
            {{ partial "collection-metadata.html" (dict "title" (i18n "collections.services") "icon" "folder" "desc" .) }}
          {{ end }}
          {{ with .Params.stats.documents }}
            {{ partial "collection-metadata.html" (dict "title" (i18n "collections.documents") "icon" "file" "desc" .) }}
          {{ end }}
          {{ with .Params.languages }}
            {{ $languages := slice }}
            {{ range . }}
              {{ if eq . "*" }}
                {{ $languages = $languages | append (i18n "collections.language_various") }}
              {{ else if eq . "*eu" }}
                {{ $languages = $languages | append (i18n "collections.language_europe") }}
              {{ else }}
                {{ $languages = $languages | append ( strings.FirstUpper (index site.Data.display_names.languages site.Language.LanguageCode .)) }}
              {{ end }}
            {{ end }}
            {{ partial "collection-metadata.html" (dict "title" (i18n "collections.language" (len $languages)) "icon" "message-circle" "desc" (delimit $languages ", ")) }}
          {{ end }}
          {{ with .Params.jurisdictions }}
            {{ $jurisdictions := slice }}
            {{ range . }}
              {{ $jurisdictions = $jurisdictions | append ( strings.FirstUpper (index site.Data.display_names.regions site.Language.LanguageCode .)) }}
            {{ end }}
            {{ partial "collection-metadata.html" (dict "title" (i18n "collections.jurisdiction" (len $jurisdictions)) "icon" "map" "desc" (delimit $jurisdictions ", ")) }}
          {{ end }}
        </div>
      </div>
    </div>

    <div class="container container--wide container--has-no-padding-y">
      <div class="collection__contribute container container--1211">
        <h3>{{ i18n "collections.contribute.title" }}</h3>
        <div class="collection__contribute__items">
          <div class="collection__contribute__item">
            <div class="icon__circle-wrapper icon__circle-wrapper--big icon__circle-wrapper--graylight">
              <i class="icon icon--primary" data-lucide="hand-heart"></i>
            </div>
            <h4 class="h4--light">{{ i18n "collections.contribute.donate" }}</h4>
            <a class="contribute__item__link" href="{{ .Param "opencollective.url" }}" target="_blank" rel="noopener" aria-label="{{ i18n "collections.contribute.donate" }}"></a>
          </div>
          <div class="collection__contribute__item">
            <div class="icon__circle-wrapper icon__circle-wrapper--big icon__circle-wrapper--graylight">
              <i class="icon icon--primary" data-lucide="square-pen"></i>
            </div>
            <h4 class="h4--light">{{ i18n "collections.contribute.publish" }}</h4>
            <a class="contribute__item__link" href="{{ .Param "memos.how_to_publish.url" }}" target="_blank" rel="noopener" aria-label="{{ i18n "collections.contribute.publish" }}"></a>
          </div>
          <div class="collection__contribute__item">
            <div class="icon__circle-wrapper icon__circle-wrapper--big icon__circle-wrapper--graylight">
              <i class="icon icon--primary" data-lucide="file-plus"></i>
            </div>
            <h4 class="h4--light">{{ i18n "collections.contribute.track" }}</h4>
            <a class="contribute__item__link" href="{{ .Param "contribution_tool.url" }}?destination=OpenTermsArchive/{{ .Params.id }}-declarations" target="_blank" rel="noopener" aria-label="{{ i18n "collections.contribute.track" }}"></a>
          </div>
          <div class="collection__contribute__item">
            <div class="icon__circle-wrapper icon__circle-wrapper--big icon__circle-wrapper--graylight">
              <i class="icon icon--primary" data-lucide="file-warning"></i>
            </div>
            <h4 class="h4--light">{{ i18n "collections.contribute.restore" }}</h4>
            <a class="contribute__item__link" href="{{ .Param "github.url" }}/{{ .Params.id }}-declarations/issues" target="_blank" rel="noopener" aria-label="{{ i18n "collections.contribute.restore" }}"></a>
          </div>
          <div class="collection__contribute__item">
            <div class="icon__circle-wrapper icon__circle-wrapper--big icon__circle-wrapper--graylight">
              <i class="icon icon--primary" data-lucide="megaphone"></i>
            </div>
            <h4 class="h4--light">{{ i18n "collections.contribute.promote" }}</h4>
            <a class="contribute__item__link" href="https://mastodon.social/share?url={{ .Permalink }}" target="_blank" rel="noopener" aria-label="{{ i18n "collections.contribute.promote" }}"></a>
          </div>
        </div>
      </div>
    </div>
    
    {{ $memosRelRef := relref . "/memos" }}
    {{ $currentCollectionID := .Params.id }}
    {{ $memos := where .Site.RegularPages "Type" "memos" }}
    {{ $filteredMemos := slice }}

    {{/* Get memos related to the current collection and add a date parameter to each memos, which takes the first date in the list of dates */}}
    {{ range $memos }}
      {{ if in .Params.related_collections $currentCollectionID }}
        {{ $firstDate := (index .Params.dates 0) | time }}
        {{ $filteredMemos = $filteredMemos | append (dict "date" $firstDate "page" .) }}
      {{ end }}
    {{ end }}

    {{/* Sort memos by date and get the first 3 */}}
    {{ $sortedMemos := sort $filteredMemos "date" "desc" }}
    {{ $latestMemos := first 3 $sortedMemos }}

    {{ with $latestMemos }}
      <div class="container container--wide container--has-no-padding-y container--is-gray">
        <div class="collection__memos container container--1211">
          <h3>{{ i18n "collections.memos.title" }}</h3>
          <div class="collection__memos__items">
            {{ range . }}
              {{ partial "memo.html" (dict "memo" .page "template" "list" "class" "collection__memos__item") }}
            {{ end }}
          </div>
          <div class="collection__memos__cta">
            <a class="button button--secondary" href="{{ $memosRelRef }}">{{ i18n "collections.memos.cta" }}</a>
          </div>
        </div>
      </div>
    {{ end }}

  </div>
{{ end }}
